@charset "utf-8";
  
/* SK Planet - Base 1.0 */
html,body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,th,td,button{margin:0;padding:0;border:0;font-size:12px;font:inherit;}
body{-webkit-text-size-adjust:none;font-family:Dotum, "돋움";font-size:12px;color:#666;}
input,textarea,select,button{font:inherit;vertical-align:middle;padding:0;}
input[type="button"],input[type="text"],input[type="image"],input[type="submit"],input[type="password"],textarea{-webkit-appearance:none;border-radius:0;}
input[type="checkbox"]{-webkit-appearance:checkbox;}
input[type="radio"]{-webkit-appearance:radio;}
textarea{resize:none;}
table{width:100%;border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
img,fieldset,iframe{border:none;}
address,cite,code,dfn,em,var,th,strong{font-style:normal;font-weight:normal;}
a, a:active, a:hover{text-decoration:none;color:#666;}
article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}
caption, legend {height:0;width:0;line-height:0;font-size:0;overflow:hidden;visibility:hidden;display:none;-webkit-padding-start:0;-webkit-padding-end:0;}
/* fieldset:after{content:""; display: block; height: 0; clear: both; } 
fieldset{display: block; height: 0; clear: both; } */
@font-face{
	font-family:SKPGoM;
	src:url("./fonts/SKPGoM.eot");
	src:url("./fonts/SKPGoM.eot?#iefix") format("embedded-opentype"),
		url("./fonts/SKPGoM.ttf") format("truetype"),
		local(※), url("./fonts/SKPGoM.woff") format("woff");
		 /* url("/fonts/SKPGoM.svg#DaumRegular") format("svg"); */
	font-weight:normal;
	font-style:normal;
}
/* Layout */
	#skipNavi{display:none;}
	#wrap{position:relative;background:#f8f8f6 url("../img/common/bg_body.png") 0 0 repeat-y;}
	header{float:left;height:100%;min-height:100%;width:149px;background:#fff;position:fixed;z-index:100;}
	header.rankFixed{position:fixed;}
	header h1{padding:24px 23px 29px;}
	ul#gnb{padding:0 30px;}
	ul#gnb li{margin-bottom:22px;}
	header aside p{margin-bottom:14px;text-align:center;}
	#container{margin-left:149px;border-left:1px solid #c8c8c8;background:#f8f8f6;}
	.titleArea{position:relative;height:76px;width:1046px;margin:0 30px;}
	.titleArea h2{padding-top:30px;}
	#contents{position:relative;width:1046px;padding:0 30px 140px 30px;}
	footer{position:relative;width:100%;height:200px;background:#3c3d3e; font-size:11px;z-index:1000;}
	.infomCom{position:relative;padding:20px 30px;}
	ul.otherNav{height:40px;}
	ul.otherNav li{float:left;padding:0 7px 0 8px;background:url("../img/common/bull_line1x11.png") 0 1px no-repeat;}
	ul.otherNav li:first-child{padding:0 7px 0 0;background:none;}
	.addressBox{clear:both;color:#777;}
	.addressBox address{width:365px;height:80px;display:inline-block;line-height:16px;vertical-align:top;}
	.addressBox address a{display:inline-block;height:19px;line-height:21px;letter-spacing:-0.1em;width:75px;padding:0 5px 0 12px;margin:-3px 0 0 10px;border:1px solid #777;text-align:right;color:#777;background:url("../img/common/icon_address_off.png") 5px 7px no-repeat;}
	.addressBox address a:hover{border:1px solid #888;color:#bfbfbf;background-position:0 bottom;background:url("../img/common/icon_address_on.png") 5px 7px no-repeat;}
	.addressBox .contact{height:80px;display:inline-block;line-height:16px;vertical-align:top;}
	.addressBox .contact a{color:#777;}
	.addressBox .contact a:hover{text-decoration:underline;}
	.caution{color:#646464;line-height:16px;}
	.copy{position:absolute;top:20px;right:30px;}
/* Box Radius */
	.boxCurve{}
	.curvTl{position:absolute;top:0;left:0;display:block;width:5px;height:5px;font-size:0;z-index:10;}
	.curvTr{position:absolute;top:0;right:0;display:block;width:5px;height:5px;font-size:0;z-index:10;}
	.curvBl{position:absolute;bottom:0;left:0;display:block;width:5px;height:5px;font-size:0;z-index:10;}
	.curvBr{position:absolute;bottom:0;right:0;display:block;width:5px;height:5px;font-size:0;z-index:10;}


html, body{
	height: 100%;
}
#wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -200px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push{
	height:200px; /* .push must be the same height as .footer */
}









