@charset "utf-8";
#wrap{min-height:0 !important;position:relative;background:#fff;height:100%;margin:0 !important;z-index:0;overflow:hidden;}
	#wrap.wide{min-height:0 !important;position:relative;background:#fff;height:100% !important;margin:0 !important;z-index:0;overflow:hidden;}
	#wrap.main{padding-bottom:200px;}
body{min-width:1280px;background:#f8f7f6;}/*overflow-x:hidden;overflow-y:auto;*/
footer{position:fixed;bottom:0;};
	footer.main{margin-top:-200px;}
header{z-index:2;}
h2{display:none;}
#popContainer{position:fixed;z-index:1;left:-10000px;}
	#popContainer .mask{left:-10000px;}
#container.mainContainer{height: 100%;z-index:1;position: relative;}
.titleArea{position: relative;height: 77px;width: auto;margin: 0 30px;}
	.searchTop{position: absolute;right: 0;top: 20px;padding-left: 0;z-index: 102;left:auto;width:100%;}
	.searchTop .notice{position: absolute;left: 0;right: 290px;right:280px \0/IE8+9;top: 13px;width: auto !important;}
	.searchTop .notice .noticeText{width:370px; height:14px; position:absolute;right: 35px;right:45px \0/IE8+9;overflow:hidden;padding-right:1px;text-align:right;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;left:auto;}
	.searchTop .notice .btnArea{float:right;width:35px;width:45px \0/IE8+9;margin-top:0;}
	.searchTop .search{float:right;width:280px;height:37px;background:url("../img/common/bg_search.png") 0 0 no-repeat;}
#contents.mainContents{width:auto;padding:0;height: 827px;position: relative;top: 0;z-index:1;}
.ccBgCon{width:100%;padding:0;height:100%;position:absolute;top: 0;background:#fff572;left:10000px;}

/*Today Best 3 movie player*/
	.playerBg{z-index:301;width:100%;padding:0;height:100%;position:fixed;top: 0;left:10000px;}
		.playerBg #mainBg{background:#000; opacity:0.7;filter:alpha(opacity=0.7);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";-moz-opacity:0.7;position:fixed:left:0;top:0;width:100%;height:100%;z-index:0;}
		.playerBg #movieCon{position:absolute;left:30%;top:177px;width:738px;height:413px;z-index:1;}
			.playerBg #movieCon #moviePlayer{background:#000;width:738px;height:413px;border:1px solid #000;z-index:0;}
			.playerBg #movieCon .closeBtn{position:absolute;top:11px;right:11px;z-index:1;}
/*top toy*/
	#toyContainer{position:absolute;top:34px;left:0;width:100%;overflow:hidden;height:150px;z-index:1000;}
		#toyContainer .left{position:absolute;left:-100px;top:0;}
		#toyContainer .right{position:absolute;right:-100px;top:0;}

/*mainBanner*/
	#mainBanner{position:relative;height:100%;}
		#mainBanner a.prevBtn{position:absolute;top:50%;left:30px;z-index: 1;display:block;}
		#mainBanner a.nextBtn{position:absolute;top:50%;right:30px;z-index:1;display:block;left:auto;}
		#mainBanner .totalCon{height:100%;padding:0 90px;text-align:center;}
		#mainBanner .totalCon .contentsCon{height:100%;width:840px;margin:0 auto;position:relative;overflow:hidden;}/**/
		#mainBanner .totalCon .contentsCon .coverCon{left:-5px;z-index: 1;position: absolute;display:none;}
		#mainBanner .totalCon .contentsCon #realCon{height:100%;left:0;position:absolute;top:0;}			
			#mainBanner .totalCon .contentsCon ul{width:3960px;}
			#mainBanner .totalCon .contentsCon ul li{height:900px;width:840px;float:left;}
				#mainBanner .totalCon .contentsCon ul li div div{float:left;text-align:left;}
				#mainBanner .totalCon .contentsCon ul li div div.second{margin:108px 0 0 52px;}
				#mainBanner .totalCon .contentsCon ul li div div.second_1{margin:89px 0 0 81px;}
				#mainBanner .totalCon .contentsCon ul li div div.second_2{margin:2px 0 0 81px;}
				#mainBanner .totalCon .contentsCon ul li div div.second a{margin-top:28px;display:block;}
				#mainBanner .totalCon .contentsCon ul li div div.second_1 a{margin-top:64px;display:block;}
				#mainBanner .totalCon .contentsCon ul li div div.second_2 a{margin-top:28px;display:block;}
			#mainBanner .totalCon .contentsCon ul li .bannerCon0{width:100%;margin-top:60px;}
			#mainBanner .totalCon .contentsCon ul li .bannerCon1{width:100%;margin-top:84px;}
			#mainBanner .totalCon .contentsCon ul li .bannerCon2{width:100%;margin-top:170px;}
			#mainBanner .totalCon .contentsCon ul li .bannerCon3{width:100%;margin-top:84px;}
				#mainBanner .totalCon .contentsCon ul li .bannerCon3 div{width:840px;}/*overflow:hidden;*/
					#mainBanner .totalCon .contentsCon ul li .bannerCon3 div h2{display:block;text-align:center;}
					#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .menuCon{margin-top:32px;}
					#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .menuCon ul li{float:none;text-align:center;height:30px;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .menuCon ul li.on img{padding: 0px 10px;background:url('../img/main/bullet.png') no-repeat 0 50%;}
					#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon{margin-top:3px;position:relative;height:100%;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon .rollCon{width:2520px;position:absolute;top:0;left:0;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con{position:relative;width:650px;padding:20px 0px;margin:0 95px;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con img.best{position:absolute;top:-28px;left:-24px;z-index:3;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con ul{width:100%;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con ul li{float:left;text-align:center;width:150px;height:315px;margin-right:96px;position:relative;}
							#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con ul li .record_bg{position:absolute;top:0;left:0;z-index:2;width:150px;height:219px;}
							#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con ul li .record_bg div{float:left;opacity:0;filter:alpha(opacity=0);}
							#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con ul li .record_bg div.black{width:150px;height:219px;}
							#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con ul li .record_bg div.m_preview{width:76px;height:99px;}
							#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con ul li .m_preview{z-index:6;position:absolute;top:60px;left:36px;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con ul li.last{margin-right:0;}
							#con ul li div.poster{float:none !important;z-index:1;position:relative;}
								#con ul li div.poster span{position:absolute;top:11px;left:108px;z-index:1;}
									#con ul li div.poster span img{width:30px;height:30px;}
								#con ul li div.poster img{width:150px;z-index:0;}
							#con ul li div.info{float:none !important;margin-top:9px;text-align:center !important;width:auto !important;}
							#con ul li div.info img{vertical-align:top;margin-top:1px;}
							#con ul li div.info p{line-height:18px;color:#4a1e82;}
							#con ul li div.info p.title{font-size:14px;font-weight:bold;color:#fff;margin-bottom:7px;white-space:nowrap;text-overflow:ellipsis;width:142px;overflow: hidden;}
							#con ul li div.info p.score{font-weight:bold;color:#caaaf3;vertical-align:top;}
							#con ul li div.info p.score span.star{display:inline-block;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con_1{position:relative;width:650px;padding:20px 0px;margin:0 95px;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con_1 img.best{position:absolute;top:-28px;left:-24px;z-index:3;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con_1 ul{width:100%;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con_1 ul li{float:left;text-align:center;width:150px;height:315px;margin-right:96px;position:relative;}
							#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con_1 ul li .record_bg{position:absolute;top:0;left:0;z-index:2;width:150px;height:219px;}
							#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con_1 ul li .record_bg div{float:left;opacity:0;filter:alpha(opacity=0);}
							#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con_1 ul li .record_bg div.black{width:150px;height:219px;}
							#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con_1 ul li .record_bg div.m_preview{width:76px;height:99px;}
							#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con_1 ul li .m_preview{z-index:6;position:absolute;top:60px;left:36px;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con_1 ul li.last{margin-right:0;}
							#con_1 ul li div.poster{float:none !important;z-index:1;position:relative;}
								#con_1 ul li div.poster img{width:150px;}
							#con_1 ul li div.info{float:none !important;margin-top:9px;text-align:center !important;width:auto !important;}
							#con_1 ul li div.info img{vertical-align:top;margin-top:1px;}
							#con_1 ul li div.info p{line-height:18px;color:#4a1e82;}
							#con_1 ul li div.info p.title{font-size:14px;font-weight:bold;color:#fff;margin-bottom:7px;white-space:nowrap;text-overflow:ellipsis;width:142px;overflow: hidden;}
							#con_1 ul li div.info p.score{font-weight:bold;color:#caaaf3;vertical-align:top;}
							#con_1 ul li div.info p.score span.star{display:inline-block;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con1{position:relative;width:650px;padding:20px 0px;margin:42px 95px 0 95px;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con1 img.best {position:absolute;top:-28px;left:-28px;z-index:3;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con1 ul{width:100%;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con1 ul li{float:left;text-align:center;width:166px;height:315px;margin-right:70px;position:relative;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con1 ul li .record_bg{position:absolute;top:0;left:0;z-index:2;width:250px;height:166px;}
							#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con1 ul li .record_bg div{float:left;opacity:0;filter:alpha(opacity=0);}
							#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con1 ul li .m_preview{z-index:6;position:absolute;top:30px;left:43px;}
							#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con1 ul li .gray{position:absolute;top:0;left:166px;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con1 ul li .record{position:absolute;top:-12px;left:-12px;width:191px;height:191px;overflow:hidden;}/**/
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con1 ul li .record span{display:block;width:166px;height:166px;position:absolute;top:0;left:0;}
						#mainBanner .totalCon .contentsCon ul li .bannerCon3 div .contentCon div#con1 ul li.last{margin-right:0;}
							#con1 ul li div.poster{float:none !important;position:relative;z-index:1;}
								#con1 ul li div.poster a img{width:166px;}
							#con1 ul li div.info{float:none !important;margin-top:9px;text-align:center !important;width:auto !important;}
							#con1 ul li div.info img{vertical-align:top;}														
							#con1 ul li div.info p{line-height:18px;color:#9ee776;}
							#con1 ul li div.info p.title{font-size:14px;font-weight:bold;color:#fff;margin-bottom:7px;white-space:nowrap;text-overflow:ellipsis;width:160px;overflow: hidden;}
		#mainBanner .bulCon{position:absolute;left:50%;bottom:70px;}
	.star{width: 85px;background: url("../img/star03_off.png") 0 0 no-repeat;}
		.star em{background: url("../img/star03_on.png") 0 0 no-repeat;}	
							
/*article*/
	/*#mainArticle{position:absolute;right:-301px;top:0;width:300px;height:900px;border-left:1px solid #dfdfdf;z-index:300;background:#fff url('../img/main/img_pr2.jpg') no-repeat left top;}*//* 통이미지일 경우 */
	#mainArticle{position:absolute;right:0px;top:0;width:300px;height:1500px;border-left:1px solid #dfdfdf;z-index:300;background:#fff;}/* right:-301px; 140728*/
		#mainArticle .closeBtn{position:absolute;top:20px;right:300px;}
		#mainArticle .showLink{width:0px;height:0px;position:absolute;top:0;right:0;}
			#mainArticle .showLink.noDisplay{width:300px;height:900px;position:absolute;top:0;right:0;}/* 통이미지일 경우 */
		.promoCon{position:absolute;top:228px;width:100%;}
			.promoCon.noDisplay{display:none;}/* 통이미지일 경우 */
		.promoCon .icon{position:absolute;top:0;left:16px;z-index:1;}
		.promoCon .pics{position:relative;width:182px;margin:44px auto 20px auto;}
		.promoCon .pics img{width:182px;height:182px;}
		.promoCon .pics .mask{position:absolute;top:0;left:0;width:182px;height:auto;opacity:1 !important;filter:alpha(opacity=100);background:none !important;}
		.promoCon .pics .mask img{display:block;}
		.promoCon .info{text-align:center;}
		.promoCon .info .time{margin-top:5px;}
		.promoCon .info .time span{margin-left:5px;}
		.promoCon .info .category{margin:22px 0 5px 0;font-weight:bold;}
		.promoCon .info .price{margin:14px 0 20px 0;font-weight:bold;font-size:14px;color:#3c3d3e;}
			.promoCon .info .price span{color:#ff0000;}
		.promoCon.movNtv{top:188px;}
		.promoCon.movNtv .pics{width:151px;margin:48px auto 20px auto;}
		.promoCon.movNtv .pics img{height:220px;width:151px;}
		.promoCon.eBook{top:188px;}
		.promoCon.eBook .pics{width:147px;margin:48px auto 20px auto;}
		.promoCon.eBook .pics img{height:201px;width:147px;}
