@charset "utf-8";

/* NotoSansCJKkr */
@font-face {
	font-family: 'NotoSansCJKkr';
	font-style: normal;
	font-weight: 300;
	src: url('../font/NotoSansCJKkr-DemiLight.eot'); /* IE9 Compat Modes */
	src: local('NotoSansCJKkr'),
		 url('../font/NotoSansCJKkr-DemiLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../font/NotoSansCJKkr-DemiLight.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../font/NotoSansCJKkr-DemiLight.woff') format('woff'), /* Modern Browsers */
		 url('../font/NotoSansCJKkr-DemiLight.otf') format('truetype'), /* Safari, Android, iOS */
		 url('../font/NotoSansCJKkr-DemiLight.svg#NotoSansCJKkr') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'NotoSansCJKkr';
	font-style: normal;
	font-weight: 400;
	src: url('../font/NotoSansCJKkr-Medium.eot');
	src: local('NotoSansCJKkr'),
		 url('../font/NotoSansCJKkr-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../font/NotoSansCJKkr-Medium.woff2') format('woff2'),
		 url('../font/NotoSansCJKkr-Medium.woff') format('woff'),
		 url('../font/NotoSansCJKkr-Medium.otf') format('truetype'),
		 url('../font/NotoSansCJKkr-Medium.svg#NotoSansCJKkr') format('svg');
}
@font-face {
	font-family: 'NotoSansCJKkr';
	font-style: normal;
	font-weight: 700;
	src: url('../font/NotoSansCJKkr-Bold.eot');
	src: local('NotoSansCJKkr'),
		 url('../font/NotoSansCJKkr-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../font/NotoSansCJKkr-Bold.woff2') format('woff2'),
		 url('../font/NotoSansCJKkr-Bold.woff') format('woff'),
		 url('../font/NotoSansCJKkr-Bold.otf') format('truetype'),
		 url('../font/NotoSansCJKkr-Bold.svg#NotoSansCJKkr') format('svg');
}
@font-face {
	font-family: 'NotoSansCJKkr';
	font-style: normal;
	font-weight: 800;
	src: url('../font/NotoSansCJKkr-Black.eot');
	src: local('NotoSansCJKkr'),
		 url('../font/NotoSansCJKkr-Black.eot?#iefix') format('embedded-opentype'),
		 url('../font/NotoSansCJKkr-Black.woff2') format('woff2'),
		 url('../font/NotoSansCJKkr-Black.woff') format('woff'),
		 url('../font/NotoSansCJKkr-Black.otf') format('truetype'),
		 url('../font/NotoSansCJKkr-Black.svg#NotoSansCJKkr') format('svg');
}