@charset "euc-kr";

body div#header div.header_bar{width:100%;height:24px;margin-top:-3px;background:url(../img/bg_header_bar.gif) repeat-x;display:none;overflow:hidden}
body div.layer_bg{position:absolute;left:0;top:0;z-index:100;width:0;height:0;background:#000;-moz-opacity:0 !important;-webkit-opacity:0 !important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;filter: alpha(opacity=0) !important;opacity:0 !important;display:none}
body div.sitemap{
	box-shadow:10px 10px 10px silver;
	-moz-box-shadow:10px 10px 10px silver;
	-webkit-box-shadow:10px 10px 10px silver;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=silver,direction=135, strength=10);
	box-shadow:x_offset y_offset blur_radius #666}

body div .main_rank table{margin:5px 0 0 10px}

body .gnb{position:absolute;left:137px;top:20px}


body div.header_inner{width:968px;height:89px;margin:0 auto;position:relative;background:url(../img/bg_header.gif) repeat-x 0 0}
body div.sub_container{width:968px;margin:0 auto;padding:105px 0 0 0}

body div.main_content{width:968px;margin:0 auto;position:relative;z-index:10;background:url(../img/bg_main_left.jpg) no-repeat -182px 0;overflow:hidden}

body div.footer_inner{width:968px;height:100px;position:relative;margin:0 auto}
body div .vs{width:968px;height:0;margin:0 auto;position:relative}

body .main_news{float:left;width:232px;height:152px;position:relative;border-right:1px solid #f0f0f0;background:#fff}
body .main_news li a{width:183px;font-size:11px;color:#888;float:left}
body .main_player{float:left;width:250px;height:152px;position:relative;border-right:1px solid #f0f0f0;background:url(../img/bg_player.gif) no-repeat 100% 100%}
body .main_think{float:left;width:251px;height:152px;position:relative;border-right:1px solid #f0f0f0;background:url(../img/bg_think.gif) no-repeat 100% 100%}
body .main_rank{float:left;width:232px;height:152px}
body .main_news2{float:left;width:232px;height:119px;position:relative;border-right:1px solid #f0f0f0;background:url(../img/bg_news.gif) no-repeat 100% 100%}
body .main_player2{float:left;width:250px;height:119px;position:relative;border-right:1px solid #f0f0f0;background:url(../img/bg_player2.gif) no-repeat 100% 100%}
body .main_think2{float:left;width:251px;height:119px;position:relative;border-right:1px solid #f0f0f0;background:url(../img/bg_think2.gif) no-repeat 100% 100%}
body .main_rank2{float:left;width:232px;height:119px;position:relative;background:url(../img/bg_rank.gif) no-repeat 97% 100%}