@charset "utf-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, input {
  margin:0;padding:0; border:0;font-style:inherit;font-size:100%;font-family: inherit;vertical-align: baseline;font-size:12px;font-family:"돋움",Dotum,Helvetica,AppleGothic,Sans-serif;color:#666;font-weight:normal}
  ul,ol,li {list-style-type:none;}



