@charset "utf-8";

/******************************************************************
			GS건설 LCCO2 평가 시스템 CSS를 IMPORT 합니다
*******************************************************************/

@import "reset.css";						/* 리셋 */
@import "contents.css";					/* 컨텐츠 */