@charset "utf-8";

/* reset */
html,body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,th,td,button {margin:0;padding:0;border:0;font:inherit;}
html,body {height:100%;}
body {-webkit-text-size-adjust:none;color:#666;font-family:'NotoSansKR', 'Apple Gothic', 'Apple SD Gothic Neo', 'DroidSansFallback', Malgun Gothic, Dotum, "돋움", Sans-serif;font-size:14px;}

input,textarea,select,button{color:#666;font:inherit;vertical-align:middle;padding:0;margin:0;}
input[type="button"],input[type="text"],input[type="image"],input[type="submit"],input[type="password"],textarea{outline:none;-webkit-appearance:none;}
input[type="button"]:hover, input[type="submit"]:hover {cursor:pointer;}
input[type="radio"]{-webkit-appearance:none;-ms-appearance:none;}
button:focus, a:focus {outline:none;}

textarea{resize:none;}
table{width:100%;border-collapse:collapse;border-spacing:0;}
ul,ol,li {list-style-type:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;}
img,fieldset,iframe{border:none;}
address,cite,code,dfn,em,var,th,strong{font-style:normal;font-weight:500;}
a {text-decoration:none;color:#666;font-weight:400;}
a:hover {cursor:pointer !important;}
article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}
caption, legend {height:0;width:0;line-height:0;font-size:0;overflow:hidden;visibility:hidden;display:none;-webkit-padding-start:0;-webkit-padding-end:0;}
button{background:transparent;cursor:pointer;}
iframe{border:0;}
input::-ms-clear{display:none;}
img {display:block;width:100%;border:none;}

/* util */
.clearfix:after{visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}

.blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;}

/* layout */
.iframe_wrap {background:#f5f5f5;}

/* common */
.bg_white_box {background:#fff;}

/* iframe_area */
.iframe_area .top {padding:4px;border-radius:4px;overflow:hidden;}
.iframe_area .top .txt_date {display:block;float:left;padding-left:12px;font-size:12px;line-height:28px;}
.iframe_area .top .btn_28 {float:right;}

.iframe_area .img_box {display:table;table-layout:fixed;width:100%;height:261px;margin-top:2px;background:#999 url('bg_screenshot.png') no-repeat 50% 50%;background-size:78px auto;}
.iframe_area .img_box .img_area {display:table-cell;width:100%;height:261px;vertical-align:middle;}
.iframe_area .img_box img {width:100%;height:auto;}

.iframe_area .btm {position:relative;height:36px;margin-top:2px;border-radius:4px;}
.iframe_area .btm .btn_prev {position:absolute;top:50%;left:3px;width:8px;height:auto;margin-top:-18px;padding:11px 14px;}
.iframe_area .btm .btn_next {position:absolute;top:50%;right:3px;width:8px;height:auto;margin-top:-18px;padding:11px 14px;}
.iframe_area .btm .paging {display:block;color:#333;text-align:center;line-height:36px;}

/* btn */
a[class*="btn_"] {display:block;border-radius:4px;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;}
.btn_inline {display:inline-block !important;padding:0 14px;}
.btn_28 {height:28px;line-height:27px;}
.bg_yellow {border:1px solid #ffcc01;background-color:#ffcc01;color:#333;}