@charset "utf-8";

/* Common */
#loading {display:none;position:fixed;top:0px;left:0px;width:100%;height:100%;background-color:#fff;text-align:center;zoom:1;filter:alpha(opacity=60);opacity:0.6;z-index:9999;}
#loading img {position:absolute;top:50%;left:49%;width:42px;height:42px;z-index:10000;}
.ellipsis {display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.fake-focus {position:absolute;top:0;right:9999px;}
.line-through span {text-decoration:line-through !important;}
.word-highlight th,.word-highlight td {font-size:20px;background-color:#000;color:#fff;}
.sort-asc {background-image:url(/jworks/common/img/ico_sort_asc.gif);background-repeat:no-repeat;background-position:right center;}
.sort-desc {background-image:url(/jworks/common/img/ico_sort_desc.gif);background-repeat:no-repeat;background-position:right center;}
input[type=text]::-ms-clear {display:none;}

/* jQuery UI Datepicker */
.ui-datepicker-trigger {cursor:pointer;position:absolute;top:50%;right:7px;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
body[class*="user_"] .ui-datepicker-trigger {cursor:pointer;position:absolute;top:50%;right:11px;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
#ui-datepicker-div {z-index:9999 !important;}

/* jQuery UI Monthpicker */
.mtz-monthpicker-trigger {cursor:pointer;vertical-align:middle;}
.mtz-monthpicker-month {cursor:pointer !important;}

/* jQuery FileStyle */
div.jquery-filestyle input[type=text][disabled] {padding:3px;margin-left:1px;margin-bottom:0;font-size:12px;}
div.jquery-filestyle label {padding:3px 12px;line-height:14px;margin:0 5px 0 0;font-size:12px;}

/* iframe Auto Height */
.autoHeight-padding {padding:0 !important;}
.autoHeight-margin {margin:0 !important;}
.autoHeight-background {background:none !important;background-color:#fff !important;}
