@charset "utf-8";

/* NotoSansKR */
@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 400;
	src: url('../font/NotoSansKR-Regular.eot');
	src: url('../font/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/NotoSansKR-Regular.woff2') format('woff2'),
		url('../font/NotoSansKR-Regular.woff') format('woff')
}
@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 500;
	src: url('../font/NotoSansKR-Medium.eot');
	src: url('../font/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
		url('../font/NotoSansKR-Medium.woff2') format('woff2'),
		url('../font/NotoSansKR-Medium.woff') format('woff')
}
@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 700;
	src: url('../font/NotoSansKR-Bold.eot');
	src: url('../font/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/NotoSansKR-Bold.woff2') format('woff2'),
		url('../font/NotoSansKR-Bold.woff') format('woff')
}