@charset "utf-8";

/* reset */
html,body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,th,td,button {margin:0;padding:0;border:0;font:inherit;}
html,body {height:100%;}
body {-webkit-text-size-adjust:none;color:#666;font-family:'NotoSansKR', 'Apple Gothic', 'Apple SD Gothic Neo', 'DroidSansFallback', Malgun Gothic, Dotum, "돋움", Sans-serif;font-size:14px;font-weight:400;}

input,textarea,select,button{color:#666;font:inherit;vertical-align:middle;padding:0;margin:0;}
input[type="button"],input[type="text"],input[type="image"],input[type="submit"],input[type="password"],textarea{outline:none;-webkit-appearance:none;}
input[type="button"]:hover, input[type="submit"]:hover {cursor:pointer;}
input[type="checkbox"]{-webkit-appearance:none;-ms-appearance:none;}
input[type="radio"]{-webkit-appearance:none;-ms-appearance:none;}
button:focus, a:focus {outline:none;}

textarea{resize:none;}
table{width:100%;border-collapse:collapse;border-spacing:0;}
ul,ol,li {list-style-type:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;}
img,fieldset,iframe{border:none;}
address,cite,code,dfn,em,var,th,strong{font-style:normal;font-weight:500;}
a/* , a:active, a:hover */{text-decoration:none;color:#666;font-weight:400;}
a:hover {cursor:pointer !important;}
article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}
caption, legend {height:0;width:0;line-height:0;font-size:0;overflow:hidden;visibility:hidden;display:none;-webkit-padding-start:0;-webkit-padding-end:0;}
button{background:transparent;cursor:pointer;}
iframe{border:0;}
input::-ms-clear{display:none;}
/* textarea::placeholder, input::placeholder{color:#999;} */
img {display:block;width:100%;border:none;}

/* util */
.clearfix:after{visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}

.blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;}