@charset "utf-8";

@import 'mobile_reset.css';
@import 'mobile_font.css';

/* common */
.bg_gray {background:#eee;}

.title_tab {display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:flex-start;align-items:stretch;border-bottom:1px solid #145383;background:#fff;}
.title_tab li {flex:1;text-align:center;line-height:1;}
.title_tab li a {display:block;height:47px;border-bottom:2px solid #fff;font-size:18px;line-height:47px;}
.title_tab li.on a {border-bottom:2px solid #145383;color:#145383;}

.division_tab {display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:flex-start;align-items:stretch;margin:20px 30px;border:1px solid #2497cf;border-radius:32px;overflow:hidden;}
.division_tab li {flex:1;position:relative;background-color:#fff;text-align:center;line-height:1;}
.division_tab li:before {content:'';display:block;position:absolute;top:50%;left:0;transform:translateY(-50%);-webkit-transform:translateY(-50%);width:1px;height:14px;background:#7ebddd;}
.division_tab li:first-child:before {display:none;}
.division_tab li a {display:block;height:32px;font-size:15px;line-height:32px;}
.division_tab li.on {background-color:#2497cf;}
.division_tab li.on:before {background-color:#2497cf;}
.division_tab li.on + li:before {display:none;}
.division_tab li.on a {color:#fff;font-weight:500;}

/* btn */
.btn_area {margin-top:40px;text-align:center;}
.btn_area.after_sign .bg_blue {border-color:#145383;background-color:#145383;}
.btn_area.after_sign .bg_sky_line {border-color:#145383;color:#145383;}
.btn_area .btn + .btn {margin-left:3px;}
.btn_area > .btn:first-child {margin-left:0;}
.btn_more_area {display:block;}
.btn_logout_area {margin:35px auto;text-align:center;}

.btn {display:inline-block;height:32px;padding:8px 20px 0;border:1px solid #2497cf;border-radius:4px;font-size:15px;line-height:1;box-sizing:border-box;-webkit-box-sizing:border-box;}
.btn_more {display:block;position:relative;width:238px;height:40px;margin:40px auto;border:1px solid #dbdbdb;background:#fff url('../img/mobile_icon_btn_more.png') no-repeat 77px 50%;background-size:12px auto;color:#2497cf;font-size:17px;text-align:center;line-height:40px;}
.btn_logout {display:inline-block;padding:8px 15px;border:1px solid #999;border-radius:4px;font-size:15px;line-height:1;}

.bg_blue {border-color:#2497cf;background-color:#2497cf;color:#fff;}
.bg_sky_line {border-color:#7ebddd;background-color:#fff;color:#2497cf;}

.btn_icon_back_blue {padding:8px 20px 0 27px;background:url('../img/mobile_btn_icon_back_blue.png') no-repeat 16px 50%;background-size:6px auto;}

/* paging */
.paging {margin:40px 0;text-align:center;}
.paging a[class*="btn_"] {background-color:#dbdbdb;background-repeat:no-repeat;background-position:50% 50%;background-size:11px auto;font-size:0;}
.paging a.btn_start {background-image:url('../img/mobile_icon_paging_start.png');}
.paging a.btn_prev {margin-right:3px;background-image:url('../img/mobile_icon_paging_prev.png');}
.paging a.btn_next {margin-left:3px;background-image:url('../img/mobile_icon_paging_next.png');}
.paging a.btn_end {background-image:url('../img/mobile_icon_paging_end.png');}
.paging a,
.paging strong {display:inline-block;min-width:32px;height:32px;padding:0 5px;border-radius:2px;background:#fff;color:#999;font-size:17px;line-height:32px;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box;}
.paging strong {background:#7ebddd;color:#fff;font-weight:400;}

/* login */
.login.wrap {padding:80px 32px;}
.login .company_logo {display:block;width:auto;margin:0 auto;line-height:1;}
.login .txt_login {margin-top:18px;font-size:13px;text-align:center;line-height:20px;}
.login .login_list {margin-top:40px;}
.login .login_list li {position:relative;height:45px;margin-top:12px;border-radius:2px;line-height:45px;}
.login .login_list li:first-child {margin-top:0;}
.login .login_list li:before {content:'';display:block;position:absolute;top:1px;left:1px;width:43px;height:43px;border-radius:2px;background-color:#fff;background-repeat:no-repeat;background-position:50% 50%;}
.login .login_list li.kakao {background-color:#ffea0f;}
.login .login_list li.kakao:before {background-image:url('../img/mobile_bg_login_kakao.png');background-size:24px auto;}
.login .login_list li.kakao a {color:#3c1e1e;}
.login .login_list li.naver {background-color:#2db400;}
.login .login_list li.naver:before {background-image:url('../img/mobile_bg_login_naver.png');background-size:20px auto;}
.login .login_list li.facebook {background-color:#1670e5;}
.login .login_list li.facebook:before {background-image:url('../img/mobile_bg_login_facebook.png');background-size:27px auto;}
.login .login_list li.twitter {background-color:#1da1f2;}
.login .login_list li.twitter:before {background-image:url('../img/mobile_bg_login_twitter.png');background-size:26px auto;}
.login .login_list li.google {background-color:#4285f4;}
.login .login_list li.google:before {background-image:url('../img/mobile_bg_login_google.png');background-size:23px auto;}
.login .login_list a {display:block;padding-left:44px;color:#fff;font-size:15px;text-align:center;}

.login .login_box {margin-top:15px;padding:0 23px;}
.login .login_box input {width:100%;height:36px;padding:0 8px;border:1px solid #dbdbdb;border-radius:2px;line-height:36px;box-sizing:border-box;-webkit-box-sizing:border-box;}
.login .login_box input:first-child {margin-bottom:4px;}
.login .login_box input::placeholder{color:#999;}
.login .login_box .btn_login {display:block;height:36px;margin-top:8px;border-radius:2px;background:#2497cf;color:#fff;font-size:15px;text-align:center;line-height:36px;}

/* login success */
.login_success.wrap {padding:80px 32px;}
.login_success .company_logo {display:block;width:auto;margin:0 auto;line-height:1;}
.login_success .txt_success_msg {margin-top:30px;color:#145383;font-size:18px;text-align:center;line-height:1;}
.login_success .txt_success_info {margin-top:6px;font-size:13px;text-align:center;line-height:20px;}
.login_success .txt_success_ok {color:#145383;font-size:18px;font-weight:400;text-align:center;line-height:24px;}
.login_success .txt_success_ok span {display:block;font-size:15px;font-weight:300;}
.login_success .txt_success_ok + .bg_gray_box {margin-top:12px;}
.login_success .bg_gray_box {margin-top:11px;padding:11px 0;border-radius:3px;background:#f5f5f5;text-align:center;}
.login_success .confirm_box label {margin-right:10px;color:#2497cf;line-height:36px;}
.login_success .confirm_box input {width:120px;height:36px;border:1px solid #dbdbdb;border-radius:2px;font-size:22px;text-align:center;line-height:38px;box-sizing:border-box;-webkit-box-sizing:border-box;}
.login_success .complete_info {display:inline-block;padding:9px 0;text-align:left;line-height:1;}
.login_success .complete_info dl {margin-top:12px;}
.login_success .complete_info dl:first-child {margin-top:0;}
.login_success .complete_info dt {display:inline-block;height:18px;padding:0 9px;border-radius:18px;background:#7ebddd;color:#fff;font-size:11px;line-height:18px;}
.login_success .complete_info dd {display:inline-block;margin:-2px 0 0 6px;font-size:24px;font-weight:500;vertical-align:middle;}

/* 결재함 목록 */
.approval .title_tab {position:sticky;top:0;z-index:1;}
.approval .grouping_box {margin-top:6px;}
.approval .grouping_box .grouping:first-child {margin-top:0;}

.approval .grouping {margin-top:2px;padding:0 15px 12px;background:#fff;}
.approval .grouping .user_info {position:relative;display:block;width:100%;height:45px;padding:0 31px 0 10px;color:#145383;font-size:15px;font-weight:500;line-height:45px;box-sizing:border-box;-webkit-box-sizing:border-box;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.approval .grouping .user_info:before {content:'';display:block;position:absolute;top:50%;right:12px;transform:translateY(-50%);-webkit-transform:translateY(-50%);width:8px;height:14px;background:url('../img/mobile_btn_icon_go_gray.png') no-repeat 100% 50%;background-size:8px auto;}
.approval .grouping .user_info span {margin-left:10px;font-size:13px;font-weight:400;}
.approval .grouping .btn_area {margin-top:12px;}

.grouping .time_line {border-radius:6px 6px 0 0;background:#f5f5f5;text-align:center;}
.grouping .time_line p {display:inline-block;height:28px;padding-left:25px;margin-left:30px;background-repeat:no-repeat;background-position:0 50%;background-size:18px auto;line-height:30px;}
.grouping .time_line p:first-child {margin-left:0;}
.grouping .time_line .date {background-image:url('../img/mobile_icon_approval_calendar.png');}
.grouping .time_line .time {background-image:url('../img/mobile_icon_approval_time.png');}
.grouping .time_line .next_day {display:inline-block;margin:1px 0 0 3px;;color:#999;font-size:9px;vertical-align:top;}
.grouping .reason {margin-top:2px;padding:10px 12px; background:#f5f5f5;border-radius:0 0 6px 6px;font-size:13px;line-height:18px;}

/* 결재함 상세 */
.approval_details .list_view {/* height:49px; */border-bottom:1px solid #7ebddd;box-sizing:border-box;-webkit-box-sizing:border-box;}
.approval_details .list_view a {display:block;padding:14px 0 12px 15px;}
.approval_details .list_view img {width:24px;height:auto;}

.approval_details .grouping {padding:30px 15px 0;}
/* .approval_details .grouping .user_info {margin-bottom:3px;color:#145383;font-size:15px;font-weight:500;}
.approval_details .grouping .user_info span {display:inline-block;margin-left:10px;font-size:13px;font-weight:300;} */
.grouping .user_info2 {margin-bottom:3px;color:#145383;font-size:15px;font-weight:500;}
.grouping .user_info2 span {display:inline-block;margin-left:10px;font-size:13px;font-weight:300;}

.approval_details .use_box {padding:15px 10px 10px; border-top:1px solid #ccc;}
.approval_details .use_box .title_use {font-size:13px;line-height:1;}
.approval_details .use_box .graph_box {position:relative;width:100%;height:18px;margin-top:6px;background:#eee;}
.approval_details .use_box .graph_box .bar {position:absolute;height:18px;background:#7ebddd;}
.approval_details .use_box .time_list {margin-top:6px;text-align:right;line-height:1;}
.approval_details .use_box .hour_use {display:inline-block;color:#7ebddd;font-size:15px;font-weight:500;}
.approval_details .use_box .overall_time {display:inline-block;padding-left:10px;background:url('../img/mobile_bg_division_line.png') no-repeat 1px 50%;;background-size:5px auto;font-size:13px;}
.approval_details .month_use .graph_box .bar {background:#2497cf;}
.approval_details .month_use .hour_use {color:#2497cf;}

.approval_details .apply_info .title {padding:20px 0 6px 10px;color:#145383;font-size:15px;font-weight:500;line-height:1;}
/* .approval_details .apply_info .time_box {margin-top:10px;text-align:center;}
.approval_details .apply_info .time_box dl {display:inline-block;margin-left:26px;line-height:1;}
.approval_details .apply_info .time_box dl:first-child {margin-left:0;}
.approval_details .apply_info .time_box dt {display:inline-block;height:18px;padding:0 8px;border-radius:18px;background:#7ebddd;color:#fff;font-size:11px;line-height:18px;}
.approval_details .apply_info .time_box dd {display:inline-block;margin-left:2px;color:#2497cf;vertical-align:middle;} */
.grouping .time_box {margin-top:10px;text-align:center;}
.grouping .time_box dl {display:inline-block;margin-left:26px;line-height:1;}
.grouping .time_box dl:first-child {margin-left:0;}
.grouping .time_box dt {display:inline-block;height:18px;padding:0 8px;border-radius:18px;background:#7ebddd;color:#fff;font-size:11px;line-height:18px;}
.grouping .time_box dd {display:inline-block;margin-left:2px;color:#2497cf;vertical-align:middle;}
.approval_details .btn_area {margin-top:30px;}

/* 보관함 */
.storage .title_tab {position:sticky;top:0;z-index:1;}
.storage_grouping_box .grouping {position:relative;margin-top:2px;padding:20px 25px;position:relative;background:#fff;}
.storage_grouping_box .grouping:first-child {margin-top:0;}
.storage_grouping_box .grouping:before {content:'';display:block;position:absolute;top:0;left:0;width:5px;height:100%;background:#4ab8ed;}
.storage_grouping_box .grouping .user_info2 {margin-bottom:7px;}
.storage_grouping_box .grouping .time_line {border-radius:30px}
.storage_grouping_box .grouping .reason {margin-top:0;padding:7px 0;border-radius:0;background:#fff;}
.storage_grouping_box .grouping.return:before {background:#fe7272;}

.storage_grouping_box .date_time {position:relative;color:#999;font-size:12px;text-align:right;line-height:1;}
.storage_grouping_box .date_time:before {content:'';display:inline-block;padding-right:3px;background:url('../img/mobile_bg_check.png') no-repeat 0 0;width:10px;height:9px;background-size:10px auto;}

/* layer popup */
.layer_bg {position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background:#000;filter:alpha(opacity=75);opacity:0.75;z-index:100;}
.layer_pop {position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);width:100%;padding:0 15px;z-index:110;filter:alpha(opacity=100);opacity:1;box-sizing:border-box;-webkit-box-sizing:border-box;}
.layer_pop .layer_box {position:relative;width:100%;padding:60px 0 30px;background:#fff;}
.layer_pop .txt_area {padding:0 30px;}
.layer_pop .txt_large {color:#145383;font-size:18px;text-align:center;line-height:26px;}
.layer_pop .txt_small {margin-top:7px;font-size:13px;text-align:center;line-height:20px;}
.layer_pop .btn_area {margin-top:30px;}
.layer_pop .btn_layer_close {position:absolute;top:15px;right:18px;width:24px;height:24px;background:url('../img/mobile_layer_btn_close.png') no-repeat 50% 50%;background-size:18px auto;font-size:0;}