@charset "utf-8";
@import url("./em.css");

.blueText{color:#3366cc !important;}
.pr0{padding-right:0 !important;}

div.energe_mesure{margin-top:22px;width:100%;overflow:auto;}
div.energy_use{float:left;}
div.energy_use div h3{font-size:12px;color:#777;font-weight:bold;margin-bottom:10px;}
div.energy_use div.prev_use {overflow:auto;width:357px;}
div.energy_use div.prev_use div#description ul li{padding:3px 0;}
div.energy_use div.prev_use div#description ul li.ave{padding:25px 0;}
div.energy_use div.prev_use div#description ul li span.average{color:#19191a;font-family:"tahoma";font-size:28px;font-weight:bold;line-height:33px;letter-spacing:-3px;}
div.energy_use div.prev_use div#description ul li span.unit{color:#19191a;font-family:"tahoma";font-size:14px;font-weight:bold;line-height:28px;}
div.energy_use div.target_energy {overflow:hidden;position:relative;width:100%;}
div.energy_use div.target_energy div{display:block;}
div.energy_use div.target_energy div.targetEn_input{width:217px;height:45px;padding-right:11px;border:1px solid #b7cce1;overflow:hidden;font-family:"tahoma";font-size:14px;font-weight:bold;color:#19191a;float:left;}
div.energy_use div.target_energy div.targetEn_input input[type='text']{border:none;padding:0 0 0 11px;width:181px;height:40px;height:33px\9;margin-top:7px\9;font-family:"tahoma";font-size:28px;font-weight:bold;letter-spacing:-1px;color:#ed6d53;line-height:29px;}
div.energy_use div.target_energy div.peakMBtn{float:left;margin-left:10px;margin-bottom:11px;}
div.energy_use div.target_energy div.text{clear:both;height:90px;background:url('/html/2014/bems/images/common/bg_peak.gif') top right no-repeat;padding:14px 9px;color:#fff;font-size:12px;}
div.energy_use div.target_energy div.text p.title{font-weight:bold;}

/* 1600 »ף */
@media only screen and (min-width : 1600px) {
	div.energy_use div.target_energy div.targetEn_input{width:311px;height:45px;padding-right:11px;border:1px solid #b7cce1;overflow:hidden;font-family:"tahoma";font-size:14px;font-weight:bold;color:#19191a;float:left;}
	div.energy_use div.target_energy div.targetEn_input input[type='text']{border:none;padding:0 0 0 11px;width:278px;height:40px;height:33px\9;margin-top:7px\9;font-family:"tahoma";font-size:28px;font-weight:bold;letter-spacing:-1px;color:#ed6d53;line-height:29px;}
	div.energy_use div.target_energy div.text{clear:both;height:90px;background:url('/html/2014/bems/images/common/bg_peak.gif') top left no-repeat;padding:14px 9px 14px 106px;color:#fff;font-size:12px;}
}
