@charset "utf-8";

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; background: transparent;font-size:12px; line-height:120%;}
body, input, textarea, select, table, button, form{font-size:12px; line-height:120%; margin:0;padding:0;}
/*html{-webkit-text-size-adjust:none}*/
body{height:100%; margin:0; padding:0; color:#666;/*word-wrap:break-word;word-break:break-all;*/
font-family:"돋움", Dotum, Helvetica, AppleGothic, Sans-serif;/*font-family:"맑은 고딕", Malgun Gothic, "돋움", Dotum, Helvetica, AppleGothic, Sans-serif;*/}
input,select,textarea{color:#666;font-family:"돋움", Dotum, Helvetica, AppleGothic, Sans-serif;}

table{border-collapse:collapse;border-spacing: 0;}
ul, ol, li{list-style:none;}
a,img, fieldset{border:0 none;}
legend{display:none;}
caption{font-weight:normal;}
a{color:#666; text-decoration:none;}
a:visited, a:active{color:#666; text-decoration:none;}
a:hover{text-decoration:none;}

/* if lt IE9 Under Version Type */
article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary {display:block;}

/* error */
html, body{height:100%;}
body.error{background:#dce1e6;}
.error #wrap_error{height:100%;min-height:100%;width:100%;background:#dce1e6;}
.error #container_error{width:866px;margin:0 auto;padding:137px 0 0 0;}
.error .contents_error{position:relative;border-bottom:2px solid #cacfd3;}
.error .bgBox{position:relative;width:521px;height:252px;padding:40px 0 0 343px;border:1px solid #acb6c2;background:#fff}
.error .bgBox .bg_warning{position:absolute;top:0;left:0;}
.error h1{height:27px;}
.error h2.title{padding:0 0 25px 0;color:#e06345;font-size:18px;}
.error .text{padding:0 0 15px 0;color:#646566;line-height:18px;}
.error .text02{padding:0 0 50px 0;color:#323233;font-weight:bold;}
.error .text02 a{color:#4b4b4c;font-weight:normal;text-decoration:underline;}
.error .text03{width:460px;height:40px;margin:65px 0 0 0;padding:8px 0 0 10px;border:1px solid #d0d4d9;background:#fafafa;color:#646566;line-height:18px;}
.error .text04{padding:0 0 7px 0;color:#ed6d53;}
.error .text04 span{font-weight:bold;}
.copyright{margin:9px 0 0 0;font-size:11px;color:#8a9099;}

/* login */
/* 2014-01-21 login 짙은 회색 bg 잘림_수정 */
body.login{background:#dce1e6 url('/html/2014/bems/images/common/bg_login.gif') repeat-x 0 0;}
/* //2014-01-21 login 짙은 회색 bg 잘림_수정 */
.login #wrap_login{height:100%;min-height:100%;width:100%;background:url('/html/2014/bems/images/common/bg_login.gif') repeat-x 0 0;}
.login #container_login{width:1000px;height:443px;margin:0 auto;padding:110px 0 0 0;background:url('/html/2014/bems/images/common/bg_login02.gif') no-repeat 0 110px;}
.login .contents_login{position:relative;width:335px;margin:260px auto 0 auto;}
.login h1{height:27px;}
.login .txt_msg{padding:8px 0 0 0;color:#ed6d53;font-size:11px;}
.login .loginList{padding:7px 0 0 0;color:#999;}
.login .loginList li{padding:0 0 0 8px;background:url('/html/2014/bems/images/common/bullet_login.gif') no-repeat 0 5px;font-size:11px;line-height:14px;}
.login .input_style04{width:234px;height:28px;margin:5px 0 0 0;padding:0 12px;border:1px solid #333;background:#fff;color:#4b4b4c;line-height:28px;}
.login .input_style04_01{background:#fff url('/html/2014/bems/images/common/bg_login_input01.gif') no-repeat 10px 7px;}
.login .input_style04_02{background:#fff url('/html/2014/bems/images/common/bg_login_input02.gif') no-repeat 10px 6px;}
/* 2013-12-16 버튼 관련 수정 및 추가 */
.login .btn_login{position:absolute;top:32px;left:265px;border-bottom:1px solid #545454;}
.login .btn_login a{display:block;border:1px solid #333;}
.login .btn_login a span{display:block;width:66px;height:62px;border-top:1px solid #9f9f9f;background:#818284 url('/html/2014/bems/images/common/bg_login_btn.gif') repeat-x 0 0;color:#fff;text-align:center;font-weight:bold;line-height:62px;}
.login .btn_login a:hover, .login .btn_login a:focus{display:block;border:1px solid #343434;}
.login .btn_login a:hover span, .login .btn_login a:focus span{display:block;width:66px;height:62px;border-top:1px solid #666;background:#545454 url('/html/2014/bems/images/common/bg_login_btn02.gif') repeat-x 0 0;color:#ef6c4e;text-align:center;font-weight:bold;line-height:62px;}
/* //2013-12-16 버튼 관련 수정 및 추가 */