@charset "utf-8";

/* DashBoard(메인) */

/* sub layout*/
html, body.sub{height:100%;}
body.sub{background:#ebf0f5;}
.sub #wrap{height:100%;background:#ebf0f5 url('/html/2014/bems/images/common/bg_wrap_top.gif') repeat-x 0 0;}
.sub #container{min-height:100%;background: url('/html/2014/bems/images/common/bg_container.gif') repeat-y 0 0;overflow:hidden !important;}
.sub #contents{float:left;height:100%;margin:0;padding:0 0 40px 0;background:#ebf0f5;}
.sub #contents .boxContents{min-width:100%;height:100%;}

.sub .lnb{float:left;position:relative;width:200px;height:100%;padding:0 0 40px 0;background:url('/html/2014/bems/images/common/bg_lnb_right.gif') repeat-y right 0;}
.sub .lnb h2.subTitle{height:54px;padding:15px 0 0 0;border-bottom:1px solid #acb6c2;background:#f6f7f9 url('/html/2014/bems/images/common/bg_lnb_right.gif') repeat-y right 0;text-align:center;}
.sub .lnb ul li.depth02{background:url('/html/2014/bems/images/common/bg_lnb_btm.gif') repeat-x 0 100%;}
.sub .lnb ul li.depth02 a{display:block;width:155px;padding:15px 15px 12px 30px;background:url('/html/2014/bems/images/common/bg_lnb_right.gif') repeat-y right 0;color:#4b4c4c;line-height:16px;}
.sub .lnb ul li.depth02 a:hover{color:#19191a;font-weight:bold;}
.sub .lnb ul li.depth02.on{background:#ebf0f5 url('/html/2014/bems/images/common/bg_lnb_btm_on.gif') repeat-x 0 100%;}
.sub .lnb ul li.depth02.on a{padding:16px 15px 13px 30px;background:none;color:#19191a;font-weight:bold;}
.sub .lnb ul li.depth02.on a span{padding:0 13px 0 0;background:url('/html/2014/bems/images/common/bg_lnb.gif') no-repeat right 9px;}
.sub .lnb ul li.depth03{background:url('/html/2014/bems/images/common/bg_lnb_btm.gif') repeat-x 0 100%;}
.sub .lnb ul li.depth03 a{display:block;width:155px;padding:15px 15px 11px 30px;background:url('/html/2014/bems/images/common/bg_lnb_right.gif') repeat-y right 0;color:#4b4c4c;}
.sub .lnb ul li.depth03 a:hover{color:#19191a;font-weight:bold;}
.sub .lnb ul li.depth03 ul{padding:0 0 19px 0;background:url('/html/2014/bems/images/common/bg_lnb_right.gif') repeat-y right 0;}
.sub .lnb ul li.depth03 ul li a{display:block;padding:5px 15px 4px 30px;background:url('/html/2014/bems/images/common/bg_lnb_right.gif') repeat-y right 0;color:#646464;font-weight:normal;line-height:16px;}
.sub .lnb ul li.depth03 ul li a:hover{color:#e96b52;font-weight:normal;}
.sub .lnb ul li.depth03 ul li a:hover span{background:url('/html/2014/bems/images/common/bg_lnb_depth_on.gif') no-repeat 0 5px;}
.sub .lnb ul li.depth03 ul li a span{display:block;padding:0 0 0 7px;background:url('/html/2014/bems/images/common/bg_lnb_depth.gif') no-repeat 0 5px;line-height:16px;}
.sub .lnb ul li.depth03.on{background:#ebf0f5 url('/html/2014/bems/images/common/bg_lnb_btm_on.gif') repeat-x 0 100%;}
.sub .lnb ul li.depth03.on a{display:block;width:155px;padding:15px 15px 11px 30px;background:none;color:#19191a;font-weight:bold;}
.sub .lnb ul li.depth03.on a span{padding:0 13px 0 0;background:url('/html/2014/bems/images/common/bg_lnb.gif') no-repeat right 9px;}
.sub .lnb ul li.depth03.on ul{padding:0 0 20px 0;background:none;}
.sub .lnb ul li.depth03.on ul li a{display:block;padding:5px 15px 4px 30px;color:#646464;font-weight:normal;line-height:16px;}
.sub .lnb ul li.depth03.on ul li a:hover{color:#e96b52;}
.sub .lnb ul li.depth03.on ul li a:hover span{background:url('/html/2014/bems/images/common/bg_lnb_depth_on.gif') no-repeat 0 5px;}
.sub .lnb ul li.depth03.on ul li a span{display:block;padding:0 0 0 7px;background:url('/html/2014/bems/images/common/bg_lnb_depth.gif') no-repeat 0 5px;line-height:16px;}
.sub .lnb ul li.depth03.on ul li.on a{color:#e96b52;}
.sub .lnb ul li.depth03.on ul li.on a span{background:url('/html/2014/bems/images/common/bg_lnb_depth_on.gif') no-repeat 0 5px;}

/* 서브_타이틀 */
.titleArea{position:relative;height:69px;padding:0 30px;border-bottom:1px solid #b5bfcc;background:#f6f7f8;}
.titleArea h1{padding:28px 0 0 0;color:#0c0d0d;font-size:18px;}
.titleArea .location{position:absolute;top:18px;right:30px;color:#8a8b8d;overflow:hidden;}
.titleArea .location li{float:left;font-size:11px;}
.titleArea .location li.first{padding:0 0 0 15px;background:url('/html/2014/bems/images/common/icon_home.gif') no-repeat 0 1px;}
.titleArea .location li.last{padding:1px 0 0 0;}
.titleArea .location li a{color:#8a8b8d;font-size:11px;text-decoration:underline;}
.titleArea .location li span{padding:0 6px;}

/* 서브_탭 영역 */
.tabBox{margin:20px 30px 0 30px;border-bottom:2px solid #d5dade;}
.tabBox .boxBg{border:1px solid #c4c7cc;}
.tabTitleGroup{height:40px;background:#fff url('/html/2014/bems/images/common/bg_tab_title_group.gif') repeat-x 0 100%;overflow:hidden;}
.tabTitleGroup .tabTitleList{float:left;overflow:hidden;}
.tabTitleGroup .tabTitleList li{float:left;width:100px;height:40px;border-right:1px solid #c4c8cd;border-bottom:1px solid #c4c8cd;text-align:center;}
.tabTitleGroup .tabTitleList li a{display:block;width:100px;height:40px;color:#4b4b4d;line-height:40px;}
.tabTitleGroup .tabTitleList li.on{border-bottom:1px solid #f6f7fb;}
.tabTitleGroup .tabTitleList li.on a{background:#f6f7fb;color:#ef5a3d;font-weight:bold;cursor:default;}
.tabTitleGroup .tabSideList{float:right;overflow:hidden;}
.tabTitleGroup .tabSideList li{float:left;padding:0 10px; 0 10px;background:url('/html/2014/bems/images/common/bg_tab_line.gif') no-repeat 0 14px;}
.tabTitleGroup .tabSideList li.tabSideStyle01{background:none;}
.tabTitleGroup .tabSideList li a{display:block;margin:14px 0 0 0;padding:2px 0 0 20px;color:#4b4b4d;}
.tabTitleGroup .tabSideList li.tabSideStyle01 a{background:url('/html/2014/bems/images/common/icon_help.png') no-repeat 0 0;}
.tabTitleGroup .tabSideList li.tabSideStyle02 a{background:url('/html/2014/bems/images/common/icon_print.png') no-repeat 0 0;}
.tabTitleGroup .tabSideList li.tabSideStyle03 a{background:url('/html/2014/bems/images/common/icon_bookmark.png') no-repeat 0 0;}
.tabTitleGroup .tabSideList li.tabSideStyle03.on a{background:url('/html/2014/bems/images/common/icon_bookmark_on.png') no-repeat 0 0;}

.tabDetailGroup{background:#f6f7fb;}
.tabDetailGroup .layerGroup{position:relative;}
.tabDetailGroup .layerOne{margin:0;padding:15px 0 0 0;/*overflow:hidden;*/}
.tabDetailGroup .layerTwo{margin:0;padding:15px 0 10px 0;/*overflow:hidden;*/}
/* 2013-12-16 추가 */
.tabDetailGroup .layerTwo .positionBox{position:relative;width:535px;}
/* //2013-12-16 추가 */
.tabDetailGroup .layerThree{padding:10px 0;border-top:1px solid #dde1e6;}
.tabDetailGroup label{float:left;margin:10px 13px 0 24px;color:#323233;font-weight:bold;}
.tabDetailGroup .detailTitle{float:left;padding:10px 13px 0 24px;color:#323233;font-weight:bold;}

/* 서브_박스 스타일 */
.BoxArea{position:relative;margin:20px 30px 0 30px;border-bottom:2px solid #d5dade;}
.BoxArea .boxBg{padding:25px;border:1px solid #c4c8cd;background:#fff}
.BoxArea h2{margin:0 0 10px 0;color:#19191a;font-size:14px;font-weight:bold;}
.BoxArea h2 .titleInfo{padding:0 0 0 10px;color:#898a8c;font-size:12px;font-weight:normal;}

/* 서브_박스_layout */
.boxLeft{padding:0 246px 0 0;}
.boxLeft02{padding:16px 467px 0 0;}
.boxRight{position:absolute;top:25px;right:25px;width:221px;}
.boxRight .textStyle{padding:4px 0 0 0;line-height:18px;}
.boxRight02{position:absolute;top:64px;right:30px;width:442px;}

.mmAmount{float:left;width:50%;}
.mmAmount .boxStyle{padding-right:12px;}
.yyAmount{float:right;width:50%;}
.yyAmount .boxStyle{padding-left:13px;}

/* 서브_footer */
.sub footer{position:relative;min-width:770px;height:120px;padding:0 0 0 230px;background:#ebf0f5 url('/html/2014/bems/images/common/bg_footer.gif') repeat-y 0 0;}
.sub footer .f_logo01{position:absolute;top:9px;left:230px;}
.sub footer .f_logo02{position:absolute;top:62px;left:230px;}
.sub footer .f_group{padding:9px 0 0 140px;color:#999ca1;}
.sub footer address{font-size:11px;}
.sub footer .textStyle01{padding:1px 0 0 0;font-size:11px;}
.sub footer .textStyle02{width:375px;padding:7px 0;font-size:11px;}
.sub footer .f_list01{overflow:hidden;}
.sub footer .f_list01 li{float:left;padding:0 11px;background:url('/html/2014/bems/images/common/bg_footer_line.gif') no-repeat 0 0;font-size:11px;}
.sub footer .f_list01 li.listStyle01{padding:0 6px 0 7px;background:url('/html/2014/bems/images/common/bg_footer_line02.gif') no-repeat 0 50%;}
.sub footer .f_list01 li:first-child{padding-left:0;background:none;}
/*2014-02-13 footer 버튼 고정 수정*/
.sub footer .btn_top{position:fixed;bottom:54px;}
.sub footer .btn_top a img{width:56px; height:57px; max-width:56px;}


/* 1600 이상 */
@media only screen and (min-width : 1600px) {
	.sub #wrap{height:100%;background:#ebf0f5 url('/html/2014/bems/images/common/bg_wrap_top02.gif') repeat-x 0 0;}
	.sub #container{position:relative;width:1600px;min-height:100%;background:#ebf0f5 url('/html/2014/bems/images/common/bg_lnb_right02.gif') repeat-y 0 0;overflow:hidden;}
	.sub #contents .boxContents{width:100%;min-height:100%;}

	/* 서브_footer */
	.sub footer{position:relative;width:1370px;height:100px;padding:0 0 0 230px;background:#ebf0f5 url('/html/2014/bems/images/common/bg_footer.gif') repeat-y 0 0;}
	.sub footer .f_group{padding:25px 0 0 170px;color:#999ca1;}
	.sub footer address{float:left;padding:0 10px 0 0;font-size:11px;}
	.sub footer .textStyle02{position:absolute;top:56px;left:517px;width:800px;padding:7px 0;font-size:11px;}
	.sub footer .f_list01{float:left;overflow:hidden;}
	.sub footer .f_list01 li:first-child{padding-left:11px;background:url('/html/2014/bems/images/common/bg_footer_line.gif') no-repeat 0 0;}
	.sub footer .f_list02{margin:7px 0 0 0;}
	.sub footer .f_list02 li:first-child{padding-left:0;background:none;}
}



