@charset "utf-8";

/* 목표량 설정하기 */
.goalSetGroup{padding:0 0 129px 0;}
.goalSetGroup p{color:#4b4b4c;line-height:18px;}

/* 가로 그래프 영역 */
.graphBox{position:relative;padding:16px 0 20px 0;}
.graphBox .graphGroup{margin:0 272px 0 0;}
.graphBox .graphDiv{position:relative;}
.graphBox .graphTitle{position:absolute;top:0;left:0;width:90px;height:25px;color:#4b4b4c;line-height:25px;}
/* 2014-02-13 목표대비 사용량으로 통합_수정01 */
.graphBox .graphTitle02{position:absolute;top:0;left:0;width:157px;height:25px;color:#4b4b4c;font-weight:bold;line-height:25px;}
.graphBox .graphTitle02 span{display:inline-block;padding:0 0 0 8px;font-weight:normal;}
/* //2014-02-13 목표대비 사용량으로 통합_수정01 */

.graphBox .bgGraph{position:relative;height:25px;margin:0 0 0 90px;background:url('/html/2014/bems/images/common/bg_graph01.gif') repeat-x 0 0;}
.graphBox .bgGraph span{display:block;height:25px;position:absolute;top:0;left:0;background:url('/html/2014/bems/images/common/bg_graph02.gif') repeat-x 0 0;}
.graphBox .bgGraph.bgGraph_02{background:none;}
/* 2014-01-06 목표대비 사용량:막대그래프 bg_수정01 */
.graphBox .bgGraph.bgGraph_02 span{display:block;height:25px;position:absolute;top:0;left:0;background:url('/html/2014/bems/images/common/bg_graph11.gif') repeat-x 0 0;}
/* //2014-01-06 목표대비 사용량:막대그래프 bg_수정01 */
/* 2014-02-13 목표대비 사용량으로 통합_수정02 */
.graphBox .bgGraph01{position:relative;height:25px;margin:0 145px 0 157px;background:url('/html/2014/bems/images/common/bg_graph01.gif') repeat-x 0 0;}
/* //2014-02-13 목표대비 사용량으로 통합_수정02 */
/* 2014-01-06 목표대비 사용량:막대그래프 bg_수정02 */
/* 2014-02-13 목표대비 사용량으로 통합_수정 및 추가 */
.graphBox .bgGraph01 span{display:block;position:absolute;top:0;left:0;height:25px;background:url('/html/2014/bems/images/common/bg_graph02.gif') repeat-x 0 0;}
.graphBox .bgGraph01.bgGraph_03{background:none;}
/* //2014-02-13 목표대비 사용량으로 통합_추가 */
.graphBox .bgGraph01.bgGraph_03 span{display:block;height:25px;position:absolute;top:0;left:0;background:url('/html/2014/bems/images/common/bg_graph11.gif') repeat-x 0 0;}
/* //2014-01-06 목표대비 사용량:막대그래프 bg_수정02 */

/*tooltip*/
.graphBox .graphTooltip{display:none; position:fixed; height:62px; padding:10px 13px 9px 11px; background: url('/html/2014/bems/images/common/bg_tooltip.png') repeat-x 0 0;color:#4b4b4c; line-height:16px; z-index:100000;}
.graphBox .graphTooltip p{margin-bottom:1px;font-size:11px;}
.graphBox .graphTooltip ul li{font-size:11px;line-height:16px;}
.graphBox .graphTooltip ul li span{font-weight:bold;}
.graphBox .graphTooltip .bg_tooltipLeft{position:absolute;top:0; left:-4px; width:5px;height:81px;background:url('/html/2014/bems/images/common/bg_tooltip_left.png') no-repeat 0 0;z-index:20;}
.graphBox .graphTooltip .bg_tooltipRight{position:absolute;top:0; right:-6px; width:8px;height:81px;background:url('/html/2014/bems/images/common/bg_tooltip_right.png') no-repeat 2px 0;z-index:20;}

.graphBox .totalGroup{position:absolute;top:16px;right:0;width:232px;overflow:hidden;}
.graphBox .totalGroup .textGroup01{float:left;}
.graphBox .totalGroup .textGroup02{float:right;margin:0 8px 0 0;}
.graphBox .totalGroup .textStyle01{display:block;color:#898a8c;letter-spacing:-0.6px;}
.graphBox .totalGroup .textStyle02{color:#4b4b4c;font-family:"tahoma";font-size:38px;font-weight:bold;line-height:31px;}
.graphBox .totalGroup .textStyle03{color:#4b4b4c;font-size:20px;font-weight:bold;letter-spacing:-0.6px;}
.graphBox .totalGroup .textDecrease{display:inline-block;padding:33px 39px 0 0;background:url('/html/2014/bems/images/common/icon_decrease02.png') no-repeat right 20px;color:#3366cc;font-weight:bold;letter-spacing:-0.6px;vertical-align:top;}
.graphBox .totalGroup .textIncrease{display:inline-block;padding:33px 39px 0 0;background:url('/html/2014/bems/images/common/icon_increase02.png') no-repeat right 20px;color:#c82d2d;font-weight:bold;letter-spacing:-0.6px;vertical-align:top;}
/* 2014-02-13 목표대비 사용량으로 통합_수정03 */
.graphBox .totalGroup02{position:absolute;top:16px;right:15px;}
/* //2014-02-13 목표대비 사용량으로 통합_수정03 */
.graphBox .totalGroup02 .textStyle01{display:block;color:#898a8c;letter-spacing:-0.6px;}
/* 2013-12-26 목표량 대비 수치 폰트 스타일 수정1 */
.graphBox .totalGroup02 .textStyle02{color:#4b4b4c;font-family:"tahoma";font-size:24px;font-weight:bold;line-height:28px;}
/* //2013-12-26 목표량 대비 수치 폰트 스타일 수정1 */
.graphBox .totalGroup02 .textStyle03{color:#4b4b4c;font-family:"tahoma";font-size:14px;font-weight:bold;}
.graphBox .totalGroup02 .textStyle04{display:block;color:#4b4b4c;}

/* 2014-01-06 전기 사용패턴:범례 부분 폰트 크기_수정 */
.chartList{width:210px;margin:0 auto;}
.chartList li{float:left;padding:0 12px 0 21px;color:#898a8c;font-size:12px;line-height:16px;}
/* //2014-01-06 전기 사용패턴:범례 부분 폰트 크기_수정 */
.chartList li.listStyle01{background:url('/html/2014/bems/images/common/bg_ex_note01.gif') no-repeat 0 0;}
.chartList li.listStyle02{background:url('/html/2014/bems/images/common/bg_ex_note02.gif') no-repeat 0 0;}
.chartList li.listStyle03{padding-right:0;background:url('/html/2014/bems/images/common/bg_ex_note03.gif') no-repeat 0 0;}

.minH297{min-height:297px;}

/* 1600 이상 */
@media only screen and (min-width : 1600px) {

}