@charset "utf-8";

/*div.btn_area02 div.fl{margin-top:-10px;}*/
h3.hTitle{margin:0 0 5px 0;color:#777;}
article.xScroll_bar{overflow-x:scroll;position:relative;}

/* 가로 그래프 영역 */
.graphBox{position:relative;padding:16px 0 20px 0;}
.graphBox .graphGroup{margin:0 272px 0 0;}
.graphBox .graphDiv{position:relative;}
.graphBox .graphTitle{position:absolute;top:0;left:0;width:90px;height:25px;color:#4b4b4c;line-height:25px;}
.graphBox .graphTitle02{position:absolute;top:0;left:0;width:45px;height:25px;color:#4b4b4c;line-height:25px;}

.graphBox .bgGraph{position:relative;height:25px;margin:0 0 0 90px;}
.graphBox .bgGraph div.to span.elec{display:block;height:25px;background:url('/html/2014/bems/images/common/bg_graph03.gif') repeat-x 0 0;float:left;position:relative;}
.graphBox .bgGraph div.to span.elec img{position:absolute;top:5px;left:19px;}
.graphBox .bgGraph div.to span.gas{display:block;height:25px;background:url('/html/2014/bems/images/common/bg_graph04.gif') repeat-x 0 0;float:left;position:relative;}
.graphBox .bgGraph div.to span.gas img{position:absolute;top:5px;right:19px;}
.graphBox .bgGraph_02 div.yester span.elec{display:block;height:25px;background:#f7beb2;float:left;position:relative;}
.graphBox .bgGraph_02 div.yester span.elec img{position:absolute;top:5px;left:19px;}
.graphBox .bgGraph_02 div.yester span.gas{display:block;height:25px;background:#b4dcf0;float:left;position:relative;}
.graphBox .bgGraph_02 div.yester span.gas img{position:absolute;top:5px;right:19px;}

/*tooltip*/
.graphBox .graphTooltip{display:none; position:fixed; height:62px; padding:10px 13px 9px 11px; background: url('/html/2014/bems/images/common/bg_tooltip.png') repeat-x 0 0;color:#4b4b4c; line-height:16px; z-index:100000;}
.graphBox .graphTooltip p{margin-bottom:1px;font-size:11px;}
.graphBox .graphTooltip ul li{font-size:11px;line-height:16px;}
.graphBox .graphTooltip ul li span{font-weight:bold;}
.graphBox .graphTooltip .bg_tooltipLeft{position:absolute;top:0; left:-4px; width:5px;height:81px;background:url('/html/2014/bems/images/common/bg_tooltip_left.png') no-repeat 0 0;z-index:20;}
.graphBox .graphTooltip .bg_tooltipRight{position:absolute;top:0; right:-6px; width:8px;height:81px;background:url('/html/2014/bems/images/common/bg_tooltip_right.png') no-repeat 2px 0;z-index:20;}

.graphBox .totalGroup{position:absolute;top:16px;right:0;width:232px;overflow:hidden;}
.graphBox .totalGroup .textGroup01{float:left;}
.graphBox .totalGroup .textGroup02{float:right;margin:0 8px 0 0;}
.graphBox .totalGroup .textStyle01{display:block;color:#898a8c;letter-spacing:-0.6px;}
.graphBox .totalGroup .textStyle02{color:#4b4b4c;font-family:"tahoma";font-size:38px;font-weight:bold;line-height:31px;}
.graphBox .totalGroup .textStyle03{color:#4b4b4c;font-size:20px;font-weight:bold;letter-spacing:-0.6px;}
.graphBox .totalGroup .textDecrease{display:inline-block;padding:33px 39px 0 0;background:url('/html/2014/bems/images/common/icon_decrease02.png') no-repeat right 20px;color:#3366cc;font-weight:bold;letter-spacing:-0.6px;vertical-align:top;}
.graphBox .totalGroup .textIncrease{display:inline-block;padding:33px 39px 0 0;background:url('/html/2014/bems/images/common/icon_increase02.png') no-repeat right 20px;color:#c82d2d;font-weight:bold;letter-spacing:-0.6px;vertical-align:top;}
.graphBox .totalGroup02{position:absolute;top:16px;left:225px;width:106px;}
.graphBox .totalGroup02 .textStyle01{display:block;color:#898a8c;letter-spacing:-0.6px;}
.graphBox .totalGroup02 .textStyle02{color:#4b4b4c;font-family:"tahoma";font-size:28px;line-height:28px;}
.graphBox .totalGroup02 .textStyle03{color:#4b4b4c;font-family:"tahoma";font-size:14px;font-weight:bold;}
.graphBox .totalGroup02 .textStyle04{display:block;color:#4b4b4c;}

article.use_goal div.energe_mesure{margin-top:22px;width:100%;overflow:auto;}
article.use_goal div.energy_use{width:33%;float:left;}
article.use_goal div.energy_use div {padding-right:25px;}
article.use_goal div.energy_use div h3{font-size:12px;color:#777;font-weight:bold;margin-bottom:10px;}
article.use_goal div.energy_use div table th{text-align:left;font-weight:normal;font-size:12px;color:#4b4b4c;line-height:15px;}
article.use_goal div.energy_use div table th img{margin-right:5px;line-height:15px;}
article.use_goal div.energy_use div table td{text-align:right;font-size:12px;color:#4b4b4c;}
article.use_goal div.energy_use div p.unit{margin:12px 0 9px 0;;text-align:right;color:#000;font-weight:bold;font-size:12px;}

.energy_use div.total_use p.bgGraph{position:relative;height:25px;background:url('/html/2014/bems/images/common/bg_graph06.gif') repeat-x 0 0;}
.energy_use div.total_use p.bgGraph span.graphBar{display:block;height:25px;position:absolute;top:0;left:0;background:url('/html/2014/bems/images/common/bg_graph05.gif') repeat-x 0 0;}
.energy_use div.elec_use p.bgGraph{position:relative;height:25px;background:url('/html/2014/bems/images/common/bg_graph08.gif') repeat-x 0 0;}
.energy_use div.elec_use p.bgGraph span.graphBar{display:block;height:25px;position:absolute;top:0;left:0;background:url('/html/2014/bems/images/common/bg_graph07.gif') repeat-x 0 0;}
.energy_use div.gas_use p.bgGraph{position:relative;height:25px;background:url('/html/2014/bems/images/common/bg_graph10.gif') repeat-x 0 0;}
.energy_use div.gas_use p.bgGraph span.graphBar{display:block;height:25px;position:absolute;top:0;left:0;background:url('/html/2014/bems/images/common/bg_graph09.gif') repeat-x 0 0;}

.excelDown{margin:16px 0 0 0;color:#4b4b4c;}
.excelDown a{display:inline-block;padding:5px 0 0 22px;background:url('/html/2014/bems/images/common/icon_xls.gif') no-repeat 0 0;}
.excelDown a span{color:#666;text-decoration:underline;}

/* 2013-12-24 차트 범례 리스트 추가 */
.chartList{width:200px;margin:0 auto;}
.chartList li{float:left;padding:0 12px 0 21px;color:#898a8c;font-size:11px;line-height:16px;}
.chartList li.listStyle01{background:url('/html/2014/bems/images/common/bg_ex_note01.gif') no-repeat 0 0;}
.chartList li.listStyle02{background:url('/html/2014/bems/images/common/bg_ex_note02.gif') no-repeat 0 0;}
.chartList li.listStyle03{padding-right:0;background:url('/html/2014/bems/images/common/bg_ex_note03.gif') no-repeat 0 0;}
/* //2013-12-24 차트 범례 리스트 추가 */

@media only screen and (min-width : 1600px) {
	.tableGroup01 .fixed_layout{position:relative;min-width:600px;}
	.table_style05 {width:60%;}

	article.xScroll_bar{overflow-x:hidden !important;}/* 20131127 */
	article.use_goal div.energy_use div {padding-right:56px !important;}
	article.use_goal div.energy_use div.pr0{padding-right:0 !important;}
	article.use_goal div.energy_use div p.unit{margin-top:12px;text-align:center;color:#000;font-weight:bold;font-size:12px;}
}