body{padding:15px 15px;}
body,table,input,textarea,select,button{font-family:NanumGothic,’나눔고딕’,ng,sans-serif}

@font-face{
	font-family:NanumGothic;
	src:url('../font/NanumGothic.eot');
	src:url('../font/NanumGothic.eot?#iefix') format('embedded-opentype'),
	url('../font/NanumGothic.woff') format('woff'),
	url('../font/NanumGothic.ttf') format('truetype');
	url('../font/NanumGothic.svg#NanumGothic') format('svg')	
}

header{text-align:center;}
#logo{margin-bottom:10px;top:0;}
#logo a img{width:111px;height:23px;}
.noMR{margin-right:0 !important;}
.noMB{margin-bottom:0 !important;}
.mr10{margin-right:10px !important;}
.mr7{margin-right:7px !important;}
.mr5{margin-right:5px !important;}
.ml5{margin-left:5px !important;}
.mr4{margin-right:4px !important;}
.mr3{margin-right:3px !important;}
.ml3{margin-left:3px !important;}
.mb10{margin-Bottom:10px;}
section#pList{padding-bottom:15px;}
div#wrap{position:relative;left:0;}
.alL{text-align:center;}
.alR{text-align:center;}


/*front main search*/
div.search{margin-bottom:15px;height:33px;position:relative;padding-right:0px;z-index:10;}/*padding-right:44px;*/		
	div.searchResult{height:33px;position:relative;padding-right:44px;margin-bottom:15px;}
		div.srConBtn{display:none;}
		div.srConBtn a{display:block;width:31px;height:31px;}
	div.searchResult div.searchBar{width:100%;height:23px;border-radius:18px;border:1px solid #d6d6d6;padding:5px;position:relative;background:#f9f9f9;}/*result:background:#f9f9f9;*/
		div.searchResult div.searchBar span#srConClear{position:absolute;top:0;right:0;margin:10px;}

		div.search div.searchBar span#searchBtn{position:absolute;top:0;right:0;margin:5px;display:block;}
		div.search div.searchBar span#searchBtn img{width:24px;height:23px;}

		div.searchResult div.searchBar span#searchText{display:block;padding-right:38px;margin-left:9px;}
		div.searchResult div.searchBar span#searchText input[type=text]{font-size:18px;color:#bfbfbf;letter-spacing:-1px;height:20px;width:100%;border:none;background:#f9f9f9 url('../images/google.gif') no-repeat 1px bottom;}/*border:none;*/
	div.searchResult div.srConBtn{position:absolute;width:31px;height:31px;top:2px;;right:0;}
	div.searchResult div.cline{display:block;margin-top:10px;border-bottom:1px solid #c2c2c2;width:100%;margin-left:-17px;}
	
	
	div#srResultList{margin:10px auto 15px -17px;display:none;}
		div#srResultList ul li{display:block;padding:17px 11px;width:100%;color:#000;font-size:16px;border-bottom:1px solid #e9e9e9;background:#fff;text-align:left;position:relative;}
		div#srResultList ul li span{margin-left:21px;}
		div#srResultList ul li img{position:absolute;width:13px;height:13px;top:auto;right:25px;}
		div#srResultList ul li.liFirst{border-top:1px solid #c2c2c2;}
		div#srResultList ul li.liLast{font-size:14px;color:#666;border-top:1px solid #c2c2c2;padding:11px 11px;background:#f6f6f6;overflow:hidden;}
		div#srResultList ul li.liLast span{display:block;margin-left:6px;}
		div#srResultList ul li.liLast span.noList{float:left;}
		div#srResultList ul li.liLast span.srClose{float:right;margin-right:9px;margin-bottom:1px;}
		div#srResultList ul li.liLast span.srClose img{right:48px;margin-top:2px;;}

	div.search div.pcon{position:absolute;margin:10px 0px 10px 10px;top:0;right:0;display:block;}
	div.search div.pcon img {width:18px;height:16px;}



/*front main panel*/
div#p1 h2.ptitle span{color:#7375c2;}
div#p2 h2.ptitle span{color:#78baa9;}
div#p3 h2.ptitle span{color:#78baa9;}
div#p4 h2.ptitle span{color:#ed9249;}
div#p5 h2.ptitle span{color:#c4c34d;}
div#p6 h2.ptitle span{color:#89c7ee;}
div#p7 h2.ptitle span{color:#ef4c4d;}


div.pframe{padding:10px 15px;border-radius:10px;border:1px solid #d6d6d6;margin-bottom:15px;position:relative;display:block;text-align:center;}
	div.pframe div.con{display:block;}
	div.pframe h2.ptitle{text-align:left;}
	div.pframe h2.ptitle img{width:25px;height:25px;}
	div.pframe h2.ptitle span{font-size:15px;font-weight:bold;display:inline-block;line-height:24px;}
	div.pframe span.nextPage{position:absolute;top:10px;right:15px;width:25px;height:25px;cursor:pointer;}

/* 사이트 바로가기 */
	div.pframe div.siteCon{text-align:center;margin-top:10px;width:100%;}
		div.pframe div.siteCon div.siteList ul{overflow:hidden;}
		div.pframe div.siteCon div.siteList ul li{display:block;position:relative;margin:0;padding:0;float:left;width:33.33%;}
		div.pframe div.siteCon div.siteList ul li a{display:inline-block;margin:0 0px 10px 0;width:93px;position:relative;}/*margin:0 7px 10px 0;*/
		div.pframe div.siteCon div.siteList ul li img{border-radius:3px;width:93px;height:60px;}
		div.pframe div.siteCon div.siteList ul li span.subSc{display:block;height:16px;width:100%;background:#616161; opacity:0.8;position:absolute;bottom:0;left:0; font-size:10px;color:#fff;text-align:center;font-weight:bold;letter-spacing:-0.3px;line-height:16px;border-radius:0 0 3px 3px;}
		/*div.pframe div.siteCon div.siteList ul li span.subFrame{position:absolute;top:0;left:0;width:100%;}*/
		div.pframe div.siteCon div.siteList ul li.lileft{float:left;}

/* 화제의 영상, 주요 뉴스, 추천(3개짜리) */
	div.pframe div.movieCon{text-align:center;margin-top:10px;width:100%;}
	div.pframe div.newsCon{text-align:center;margin-top:10px;width:100%;}
	div.pframe div.recommendCon{text-align:center;margin-top:10px;width:100%;}		
		div.movieList ul{overflow:hidden;}
		div.movieList ul li{position:relative;float:left;padding:0;margin:0;width:33.33%;}		
		div.movieList ul li a{display:inline-block;margin:0;width:93px;}/*margin:0 7px 0 0*/
		div.movieList ul li img{border-radius:3px;width:93px;height:67px;}
		div.movieList ul li span.subSc{display:block;height:30px;width:100%;overflow:hidden;font-size:11px;color:#000;letter-spacing:-0.3px;line-height:15px;margin-top:10px;text-align:left;}
	/*	div.movieList ul li span.subFrame2{position:absolute;top:0;left:0;width:100%;}*/
		div.movieList ul li.lileft{float:left;}

/* 오늘 하루 특가. 추천(2개짜리) */
	div.pframe div.shoppingCon{text-align:center;margin-top:10px;width:100%;}
	div.pframe div.recommendCon2{text-align:center;margin-top:10px;width:100%;}
		div.shoppingList ul{overflow:hidden;}
		div.shoppingList ul li{position:relative;float:left;padding:0;margin:0;width:50%;}
		div.shoppingList ul li a{display:inline-block;margin:0;width:142px;position:relative;}/*margin:right10*/
		div.shoppingList ul li img{border-radius:3px;width:142px;height:142px;z-index:0;}
		div.shoppingList ul li span.subSc{display:block;height:16px;width:100%;overflow:hidden;font-size:12px;color:#000;letter-spacing:-0.5px;line-height:15px;margin-top:5px;text-align:center;}
		div.shoppingList ul li span.subSc2{display:block;height:16px;width:100%;overflow:hidden;font-size:12px;color:#ef4c4d;letter-spacing:-0.5px;line-height:15px;text-align:center;}
		div.shoppingList ul li span.subPrice{display:block;height:16px;width:100%;overflow:hidden;font-size:12px;color:#ed9249;letter-spacing:-0.5px;line-height:15px;text-align:center;}
		div.shoppingList ul li span.subPer{display:block;position:absolute;top:0;left:10px;background:#ed9249;border-radius:0 0 18px 18px;font-size:12px;color:#fff;letter-spacing:-0.5px;width:35px;height:22px;line-height:15px;padding-top:15px;}
	/*	div.shoppingList ul li span.subFrame3{position:absolute;top:0;left:0;width:100%;}*/
		div.shoppingList ul li.lileft{float:left;}

/* 추천 한장짜리 */
	div.pframe div.recommendCon3{text-align:center;margin-top:10px;width:100%;}
		div.shoppingList2 ul li{width:100%;}
		div.shoppingList2 ul li a{display:inline-block;width:296px;}
		div.shoppingList2 ul li img{border-radius:3px;width:296px;height:143px;}
		/*div.shoppingList2 ul li span.subFrame4{position:absolute;top:0;left:0;width:100%;}*/

/* 테마 바 */
div.themeBar{display:none;z-index:15;background:#fff;position:fixed;top:10px;right:-303px;border-radius:21px;padding:10px 30px 0px 15px;border:1px solid #d6d6d6;}
	div.themeBar div.listCon ul li{height:21px;width:238px;border-radius:16px;background:#d6d6d6;margin-bottom:10px;position:relative;padding:8px 2px 2px 16px;}
	div.themeBar div.listCon ul li span.listBul{text-align:center;display:inline-block;}
	div.themeBar div.listCon ul li span.listBul img{display:inline-block;height:15px;width:auto;max-width:23px;}
	div.themeBar div.listCon ul li span.onoff{position:absolute;top:6px;right:6px;width:19px;height:19px;cursor:pointer;}
/*	div.themeBar div.listCon ul li span.onoff img:hover{

	}*/
	div.themeBar div.listCon ul li span.listTitle{size:14px;color:#fff;letter-spacing:-0.3px;line-height:15px;position:absolute;left:47px;top:8px;font-weight:bold;}


/*날씨 관련 131008*/
div#p2 div.con .weatherGroup01{overflow:hidden; margin-top:24px;}
div#p2 div.con .weatherLocation{float:left;padding:0 0 13px 0;color:#000;font-size:13px;font-weight:bold;letter-spacing:-0.5px;}
div#p2 div.con .weatherLocation img.weatherIcon{width:21px;height:21px;}
div#p2 div.con .weatherLocation span.location{display:inline-block;margin:2px 0 0 0;padding:0 0 0 5px;vertical-align:middle;}
div#p2 div.con .locationSetup img{width:13px;height:13px;padding:4px 0 0 5px;}
div#p2 div.con .presentDate{float:right;color:#777;font-size:13px;font-weight:bold;line-height:13px;letter-spacing:-1px;}
div#p2 div.con .presentDate a{display:inline-block;margin:2px 0 0 5px;}
div#p2 div.con .presentDate a img.weatherRefresh{width:13px;height:13px;}
div#p2 div.con .weatherGroup02{border-top:2px solid #78baa9;padding:13px 0 0 0;overflow:hidden;}
div#p2 div.con .presentTemperature{float:left;margin:0 0 15px 0;padding:4px 0 0 0;color:#78baa9;font-size:63px;font-weight:bold;line-height:53px;letter-spacing:-6px;}
div#p2 div.con ul.weatherChart{float:right;overflow:hidden;}
div#p2 div.con ul.weatherChart li{float:left;margin:0 0 0 5px;}
div#p2 div.con ul.weatherChart li:nth-child(1){margin:0;}
div#p2 div.con ul.weatherChart li img{width:47px;height:47px;}
div#p2 div.con ul.weatherChart li span{display:block;padding:2px 0 0 0;color:#78baa9;font-size:12px;font-weight:bold;text-align:center;line-height:14px;letter-spacing:-0.3px;}

/* 320 */
@media only screen and (max-width : 320px) {
	#logo a img{width:99px;height:20px;}

	div.pframe{padding:9px 13px;border-radius:10px;border:1px solid #d6d6d6;margin-bottom:15px;position:relative;display:block;text-align:center;}
	div.pframe div.con{display:block;}
	div.pframe h2.ptitle{text-align:left;}
	div.pframe h2.ptitle img{width:22px;height:22px;}
	div.pframe h2.ptitle span{font-size:13px;font-weight:bold;display:inline-block;line-height:21px;}
	div.pframe span.nextPage{position:absolute;top:10px;right:15px;width:22px;height:22px;cursor:pointer;}


	/* 사이트 바로가기 */
		div.pframe div.siteCon div.siteList ul li a{display:inline-block;margin:0 0px 10px 0;width:83px;position:relative;}/*margin:0 7px 10px 0;*/
		div.pframe div.siteCon div.siteList ul li img{border-radius:3px;width:83px;height:53px;}
		div.pframe div.siteCon div.siteList ul li span.subSc{display:block;height:14px;width:100%;background:#616161; opacity:0.8;position:absolute;bottom:0;left:0; font-size:10px;color:#fff;text-align:center;font-weight:bold;letter-spacing:-0.3px;line-height:16px;border-radius:0 0 3px 3px;}

	
	/* 오늘 하루 특가. 추천(2개짜리) */
		div.shoppingList ul li a{display:inline-block;margin:0;width:126px;position:relative;}/*margin:right10*/
		div.shoppingList ul li img{border-radius:3px;width:126px;height:126px;z-index:0;}
		div.shoppingList ul li span.subSc{display:block;height:14px;width:100%;overflow:hidden;font-size:11px;color:#000;letter-spacing:-0.5px;line-height:15px;margin-top:5px;text-align:center;}
		div.shoppingList ul li span.subSc2{display:block;height:14px;width:100%;overflow:hidden;font-size:11px;color:#ef4c4d;letter-spacing:-0.5px;line-height:15px;text-align:center;}
		div.shoppingList ul li span.subPrice{display:block;height:14px;width:100%;overflow:hidden;font-size:11px;color:#ed9249;letter-spacing:-0.5px;line-height:15px;text-align:center;}
		div.shoppingList ul li span.subPer{display:block;position:absolute;top:0;left:10px;background:#ed9249;border-radius:0 0 18px 18px;font-size:12px;color:#fff;letter-spacing:-0.5px;width:31px;height:20px;line-height:13px;padding-top:13px;}


	/* 화제의 영상, 주요 뉴스, 추천(3개짜리) */
		div.movieList ul li a{display:inline-block;margin:0;width:83px;}/*margin:0 7px 0 0*/
		div.movieList ul li img{border-radius:3px;width:83px;height:60px;}
		div.movieList ul li span.subSc{display:block;height:27px;width:100%;overflow:hidden;font-size:11px;color:#000;letter-spacing:-0.3px;line-height:13px;margin-top:10px;text-align:left;}


	/* 추천 한장짜리 */
		div.shoppingList2 ul li a{display:inline-block;width:263px;}
		div.shoppingList2 ul li img{border-radius:3px;width:263px;height:125px;}
	
	/*front main search*/
	div.search{margin-bottom:13px;height:29px;position:relative;padding-right:0px;z-index:10;}/*padding-right:44px;*/		
		div.searchResult{height:29px;position:relative;padding-right:39px;margin-bottom:15px;}
			div.srConBtn{display:none;}
			div.srConBtn a{display:block;width:28px;height:28px;}
		div.searchResult div.searchBar{width:100%;height:20px;border-radius:18px;border:1px solid #d6d6d6;padding:4px;position:relative;background:#f9f9f9;}/*result:background:#f9f9f9;*/
			div.searchResult div.searchBar span#srConClear{position:absolute;top:-2px;right:0;margin:9px;}

			div.search div.searchBar span#searchBtn{position:absolute;top:0;right:0;margin:4px;display:block;}
			div.search div.searchBar span#searchBtn img{width:21px;height:20px;}

			div.searchResult div.searchBar span#searchText{display:block;padding-right:34px;margin-left:8px;}
			div.searchResult div.searchBar span#searchText input[type=text]{font-size:16px;color:#bfbfbf;letter-spacing:-1px;height:18px;width:100%;border:none;background:#f9f9f9 url('../images/google.gif') no-repeat 1px bottom;}/*border:none;*/
		div.searchResult div.srConBtn{position:absolute;width:28px;height:28px;top:2px;;right:0;}
		
		div#srResultList{margin:9px auto 13px -15px;display:none;}
			div#srResultList ul li{display:block;padding:15px 10px;width:100%;color:#000;font-size:14px;border-bottom:1px solid #e9e9e9;background:#fff;text-align:left;position:relative;}
			div#srResultList ul li span{margin-left:19px;}
			div#srResultList ul li img{position:absolute;width:12px;height:12px;top:auto;right:22px;}
			div#srResultList ul li.liFirst{border-top:1px solid #c2c2c2;}
			div#srResultList ul li.liLast{font-size:12px;color:#666;border-top:1px solid #c2c2c2;padding:10px 10px;background:#f6f6f6;overflow:hidden;}
			div#srResultList ul li.liLast span{display:block;margin-left:5px;}
			div#srResultList ul li.liLast span.noList{float:left;}
			div#srResultList ul li.liLast span.srClose{float:right;margin-right:8px;margin-top:1px;}
			div#srResultList ul li.liLast span.srClose img{right:43px;margin-top:0px;}

		div.search div.pcon{position:absolute;margin:9px 0px 9px 9px;top:0;right:0;display:block;}
		div.search div.pcon img {width:16px;height:14px;}


		/* 테마 바 */
div.themeBar{display:none;z-index:15;background:#fff;position:fixed;top:9px;right:-270px;border-radius:21px;padding:9px 27px 0px 13px;border:1px solid #d6d6d6;}
	div.themeBar div.listCon ul li{height:19px;width:238px;border-radius:14px;background:#d6d6d6;margin-bottom:9px;position:relative;padding:7px 2px 2px 14px;}
	div.themeBar div.listCon ul li span.listBul img{display:inline-block;height:13px;width:auto;max-width:20px;}
	div.themeBar div.listCon ul li span.onoff{position:absolute;top:5px;right:5px;width:17px;height:17px;cursor:pointer;}
/*	div.themeBar div.listCon ul li span.onoff img:hover{

	}*/
	div.themeBar div.listCon ul li span.listTitle{size:12px;color:#fff;letter-spacing:-0.3px;line-height:13px;position:absolute;left:42px;top:7px;font-weight:bold;}


	/* 날씨 */
	div#p2 div.con .presentTemperature{float:left;margin:0 0 15px 0;padding:4px 0 0 0;color:#78baa9;font-size:55px;font-weight:bold;line-height:45px;letter-spacing:-6px;}
	div#p2 div.con ul.weatherChart li img{width:42px;height:42px;}
	div#p2 div.con ul.weatherChart li span{display:block;padding:2px 0 0 0;color:#78baa9;font-size:11px;font-weight:bold;text-align:center;line-height:12px;letter-spacing:-0.3px;}
	div#p2 div.con .presentDate{float:right;color:#777;font-size:12px;font-weight:bold;line-height:13px;letter-spacing:-1px;}
	div#p2 div.con .presentDate a img.weatherRefresh{width:12px;height:12px;}
}

/* 480 */
@media only screen and (min-width : 480px) {
	body{width:422px;margin:0 auto;}
	div.pframe{padding:10px 27px;}	
	div.pframe span.nextPage{position:absolute;top:10px;right:27px;width:26px;height:26px;cursor:pointer;}
	.mr5{margin-right:-1px !important;}
	.ml5{margin-left:-1px !important;}
	.alL{text-align:left;}
	.alR{text-align:right;}

	#logo{float:left;display:inline-block;padding-top:2px;width:102px;}
	.search{float:right;display:inline-block;width:311px;}
	header{overflow:hidden;vertical-align:middle;}

	/* 날씨 */
	div#p2 div.con ul.weatherChart li{float:left;margin:0 0 0 20px;}
}

@media all and (orientation:portrait){
	
}
@media all and (orientation:landscape){
	#logo{float:left;display:inline-block;padding-top:2px;width:102px;}
	.search{float:right;display:inline-block;width:311px;}
	header{overflow:hidden;vertical-align:middle;}
}
