@charset "UTF-8";

@import url('style.css'); /* style 설정 */

@font-face {
    font-family: 'roboto-medium';
    src: url('./fonts/Roboto-Medium.eot');
    src: url('./fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Roboto-Medium.woff2') format('woff2'),
         url('./fonts/Roboto-Medium.woff') format('woff'),
         url('./fonts/Roboto-Medium.ttf') format('truetype'),
         url('./fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'notokr-medium';
    src: url('./fonts/notokr-medium.eot');
    src: url('./fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
         url('./fonts/notokr-medium.woff2') format('woff2'),
         url('./fonts/notokr-medium.woff') format('woff'),
         url('./fonts/notokr-medium.ttf') format('truetype'),
         url('./fonts/notokr-medium.svg#notokr-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'notokr-regular';
    src: url('./fonts/notokr-regular.eot');
    src: url('./fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/notokr-regular.woff2') format('woff2'),
         url('./fonts/notokr-regular.woff') format('woff'),
         url('./fonts/notokr-regular.ttf') format('truetype'),
         url('./fonts/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0;outline:0;}
html,body {height:100%;}
html,body,th,td,input,select,textarea,button {font-size:14px;line-height:1.2;font-family:'notokr-medium','Malgun Gothic', '맑은 고딕', sans-serif;color:#666;letter-spacing:-.5px;}
fieldset,img {border:0 none;}
img {max-width:100%;}
dl,ul,ol,menu,li {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
input,select,textarea,button {vertical-align:middle;}
button {border:0 none;background-color:transparent;cursor:pointer;}
table {table-layout:fixed;border-collapse:collapse;border-spacing:0;}
body {-webkit-text-size-adjust:none;} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0;}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox;}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0;}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none;}
input[type='password'] {-webkit-text-security: disc;}
 
fieldset {margin:0; padding:0; border:none;-webkit-box-sizing:border-box;box-sizing:border-box;}
legend {position:absolute; left:-1000em; top:-1000em; height:0; font-size:0; line-height:0; visibility:hidden;}
strong {font-weight:bold;}
em,i {font-style:normal;}
caption,legend {display:none;visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999em;}

a {color:#333;text-decoration:none;}
a:active, a:hover {text-decoration:none;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal;}
::selection {background:#19368a; color:#fff; text-shadow: none;}
::-webkit-input-placeholder {color:rgba(45,46,51,0.3);}

.blind {overflow:hidden;position:absolute;width:0 !important;height:0 !important;line-height:0 !important;border:0 !important;padding:0 !important;text-indent:-9999em;}

@media (max-width: 320px) {
	html,body {font-size:13px;}
}
