@charset "UTF-8";

/* Layout */
#wrap {position:relative;height:100%;}
#container {height:100%;}

header {position:absolute;top:0;left:0;width:100%;border-bottom:1px solid #f0f0f0;-webkit-box-sizing:border-box;box-sizing:border-box;}
header h1 {padding:1.286rem .857rem 1.214rem;font-size:1.286rem;color:#000;font-weight:normal;-webkit-box-sizing:border-box;box-sizing:border-box;}

/* common */
.blind{width:0;height:0;font-size:0;text-indent:-99999px;overflow:hidden;}

/* T life 소개 */
.info .content {height:100%;}
.info .top_banner{margin-bottom:5px;background:#434159;text-align:center;}
.info .top_banner img{display:block;width:auto;height:65px;margin:0 auto;}

.info .tab_info{padding-top:228px;background:#f3f3f3 url('../img/bg_info.png') no-repeat 50% 0;background-size:auto 228px;word-wrap:break-word;word-break:keep-all;}
.info .tab_info .info_group{background:#fff;font-size:15px;}
.info .tab_info .tab{overflow:hidden;}
.info .tab_info .tab li{float:left;width:50%;border-bottom:1px solid #e2e2e2;}
.info .tab_info .tab li a{display:block;height:28px;padding-top:17px;border-bottom:2px solid #fff;color:#999;text-align:center;}
.info .tab_info .tab li.on{border-bottom:1px solid #ff3a48;}
.info .tab_info .tab li.on a{color:#000;border-bottom:2px solid #ff3a48;}

.info .tab_info .summary{height:32px;padding-top:18px;color:#ff3a48;text-align:center;}
.info .tab_info .tlife_info ul.info_list{margin-bottom:30px;padding:0 12px;border-bottom:1px solid #e2e2e2;}
.info .tab_info .tlife_info ul.info_list li{padding:20px 10px 15px 134px;background:url('../img/bg_info_list01.png') no-repeat 0 50%;background-size:auto 114px;border-top:1px solid #e2e2e2;color:#000;line-height:20px;letter-spacing:-1.2px;}
.info .tab_info .tlife_info ul.info_list li:nth-child(2){background:url('../img/bg_info_list02.png') no-repeat 0 50%;background-size:auto 114px;}
.info .tab_info .tlife_info ul.info_list li:nth-child(3){background:url('../img/bg_info_list03.png') no-repeat 0 50%;background-size:auto 114px;}
.info .tab_info .tlife_info ul.info_list li p{display:block;padding-top:3px;color:#666;font-size:13px;line-height:18px;}
.info .tab_info .tlife_info .notice{margin:0 12px 7px 22px;color:#222;font-size:13px;font-weight:bold;}
.info .tab_info .tlife_info ul.notice_list{margin:0 12px 0 22px;padding-bottom:93px;color:#333;font-size:12px;font-weight:normal;line-height:15px;letter-spacing:0;word-wrap:break-word;word-break:keep-all;}
.info .tab_info .tlife_info ul.notice_list li{margin-top:5px;padding-left:5px;background:url('../img/bullet.png') no-repeat 0 5px;background-size:2px 2px;}

.info .tab_info .use{display:none;margin:0 12px;}
.info .tab_info .use ol.use_list{padding-bottom:66px;}
.info .tab_info .use ol.use_list li{padding:30px 0 29px 134px;background:url('../img/bg_use_list01.png') no-repeat 0 50%;background-size:auto 114px;border-top:1px solid #e2e2e2;color:#000;font-size:14px;}
.info .tab_info .use ol.use_list li:nth-child(2){background:url('../img/bg_use_list02.png') no-repeat 0 50%;background-size:auto 114px;}
.info .tab_info .use ol.use_list li:nth-child(3){background:url('../img/bg_use_list03.png') no-repeat 0 50%;background-size:auto 114px;}
.info .tab_info .use ol.use_list li:nth-child(4){background:url('../img/bg_use_list04.png') no-repeat 0 50%;background-size:auto 114px;}
.info .tab_info .use ol.use_list li p{display:block;margin-top:5px;color:#666;font-size:13px;line-height:18px;letter-spacing:-1px;}

.btn_tlife{display:block;position:fixed;left:0;bottom:0;width:100%;height:66px;background-color:#f41623;color:#fff;font-size:15px;text-align:center;line-height:66px;}

/* 이용불가 안내 (PC, PC & IOS) */
#check_wrap {font-family:'Malgun Gothic', '맑은 고딕';color:#474747;text-align:center;}
#check_wrap h1 {font-size:26px;font-weight:normal;padding-top:3.769em;}
#check_wrap .img {display:block;width:100%;height:188px;margin:0 0 32px;background:url('../img/img_app.png') no-repeat center;}
#check_wrap p {padding:1em 1em 0 1em;font-size:14px;line-height:1.857em;}

/* error - 서비스 장애 */
.error .content {padding:4.071rem 0 0 0;text-align:center;-webkit-box-sizing:border-box;box-sizing:border-box;}
.error .content h2 {padding-top:2.929rem;margin-bottom:.857rem;font-family: 'notokr-regular';font-size:1.429rem;color:#000;font-weight:normal;line-height:1.857rem;}
.error .content h2:before {content:"";display:block;height:6.429rem;margin-bottom:1.571rem;background:url('../img/icon_caution.png') no-repeat center top;background-size:contain;}
.error .content p {padding-bottom:0;margin:0;font-family: 'notokr-regular';font-size:.929rem;color:#999;background:none;line-height:1.357rem;}

@media screen and ( max-height: 480px ){
	#check_wrap h1{padding-top:1.857em;}
}