@charset "utf-8";

/* layout */
html,body{height:100%}
body{background:url(../img/bg_body.jpg) repeat-x;background-color:#ebebeb}
#wrap{position:relative;width:100%;height:100%;padding:0 0 0 120px;background:url(../img/bg_wrap.jpg) no-repeat 0 0;z-index:200;}
.bg_right{position:absolute;width:100%;height:1100px;background:url(../img/bg_wrap_right.jpg) no-repeat 890px 0;z-index:100;}
#header{height:191px;width:100%}
#content{position:relative;padding:10px 0 0 0;width:780px}
.png24 {tmp:expression(setPng24(this))}
input[type="checkbox"]{width:14px;height:14px;vertical-align:middle}
.clear{clear:both}
.img_border{border-bottom:1px solid #c2c2c2}

/* header */
.heading{padding:20px 0 60px 0}
.heading1{width:780px;height:50px;border-bottom:2px solid #0874c4}

/* 본문내용 */
.con_text{padding:5px 0 30px 0;line-height:20px}
.con_text1{padding:5px 0 30px 0;color:#7c7c7c;line-height:20px}
.text{margin:0 0 30px 0;color:#858585;line-height:20px}
.text1{padding:0 0 5px 0;font-size:14px;font-weight:bold}
.text2{padding:25px 0 0 0;border-top:1px solid #d5d5d5}
.text3{color:#aeaeae;}
.text4{padding:2px 0 30px 0;color:#666;font-size:14px;font-weight:bold;line-height:20px}
.text5{padding:0 0 40px 0;color:#555;font-size:16px;font-weight:bold}
.text6{padding:25px 0 0 0}
.text6 span{line-height:30px}
.text7{padding:20px 0 0 0}
.text8{padding:30px 0 20px 0;color:#666}
.text9{padding:30px 0 0 0;line-height:20px}
.text10{padding:20px 0 0 0;font-weight:bold}
.text11{display:inline-block;padding:0 0 0 6px;background:url(../img/text_con2.gif) no-repeat 0 4px;color:#2c93e0;font-weight:bold}
.text11_1{padding:0 0 0 6px;background:url(../img/text_con2.gif) no-repeat 0 0;color:#2c93e0;font-weight:bold}
.text11_2{margin:30px 0 0 0;padding:0 0 0 6px;background:url(../img/text_con2.gif) no-repeat 0 0;color:#2c93e0;font-weight:bold}
.text12{margin:10px 0 20px 0;color:#757575;font-size:14px;font-weight:bold}
.text12_1{margin:10px 0 10px 0;color:#757575;font-size:14px;font-weight:bold}
.text13{padding:0 0 3px 0;color:#ee7911;font-weight:bold;line-height:25px}

.text_height{line-height:20px}
.text_height1{line-height:20px; margin:8px 0 0 0}
.text_height2{line-height:20px; margin:10px 0 0 0}
.text_height3{line-height:20px; margin:20px 0 0 0}
.text_height4{line-height:20px; margin:20px 0 20px 0}
.text_box{text-align:center;line-height:20px}
.text_box1{line-height:30px}
.text_box2{padding:30px 0 0 0;line-height:20px}
.text_heading{padding:30px 0 14px 0;color:#2b92e0;font-weight:bold}
.text_heading2{padding:10px 0 5px 0;color:#2b92e0;font-weight:bold}
.text_bold{color:#555;font-weight:bold;text-align:center}
.text_bold1{font-weight:bold}
.text_bold2{text-align:center;font-weight:bold;color:#1587dd;height:30px;line-height:30px;border-top:2px solid #b2b2b2;border-bottom:1px solid #b1b1b1}
.text_bold3{font-weight:bold;color:#666}
.text_dot{margin:30px 0 0 0;padding:0 0 0 5px;background:url(../img/text_dot.gif) no-repeat 0 2px;color:#666;font-weight:bold}
.text_dot1{padding:0 0 0 5px;background:url(../img/text_dot.gif) no-repeat 0 2px;font-weight:bold}
.text_padding{padding:6px 0 0 0;}
.develop_text_box{padding:8px 21px 17px 21px;line-height:20px;}
.develop_text_box1{padding:10px 0 0 0}
.develop_text_dot1{padding:0 0 0 10px;background:url(../img/text_dot1.gif) no-repeat 2px 8px;color:#666;font-weight:bold}
.develop_text{padding:0 0 8px 10px;border-bottom:1px dashed #c0c0c1;}

/* 본문색상효과 */
.green{color:#63a806}
.green1{color:#63a806;font-weight:bold;text-decoration:underline}
.green2{color:#63a806;font-weight:bold}
.orange{color:#ee7911}
.orange1{color:#ee7911;font-weight:bold}
.orange2{color:#ee7911;font-weight:bold;text-decoration:underline}
.blue{color:#1587dd;font-weight:bold}
.black{color:#555}

/* 본문정렬효과 */
.step_detail{padding:30px 0 0 9px}
.step_detail dl{float:left;width:187px;margin:0 5px 0 0;background:url(../img/bg_detail_middle.gif) repeat-y 0 0}
.step_detail .theme{width:187px;height:30px;padding:13px 0 0 0;background:url(../img/bg_detail_top.gif) no-repeat 0 0;color:#444;font-size:14px;font-weight:bold;text-align:center;line-height:20px}
.step_detail .define_dt{padding:11px 0 11px 0;margin:0 11px;border-bottom:1px solid #f1f1f1;color:#1587dd;font-weight:bold}
.step_detail .define_dd{padding:10px 0 15px 0;margin:0 11px;border-bottom:1px solid #d0d0d0;font-size:11px;letter-spacing:-1px;line-height:15px}
.step_detail .define_dd_last{padding:10px 0 15px 0;margin:0 11px;font-size:11px;letter-spacing:-1px;line-height:15px}
.step_detail .bg_detail_bottom{padding:5px 0 0 0;background:url(../img/bg_detail_bottom.gif) no-repeat 0 bottom}
.step_detail .dd_height{padding:10px 0 15px 0;margin:0 11px;font-size:12px;letter-spacing:-1px;line-height:20px}

/* step */
.step{padding:0 0 30px 0;background:url(../img/bg_line.gif) repeat-x 0 100%;position:relative}
.step1{position:relative;z-index:4}
.step2,.step3,.step4{position:absolute}
.step2{left:190px;top:0;z-index:3}
.step3{left:380px;top:0;z-index:2}
.step4{left:570px;top:0;z-index:1}

/* 테이블 */
.table1{margin:0 0 20px 0;}
.table1 th{width:83px;padding:7px 0 7px 17px;background:url(../img/icon1.gif) no-repeat 0 7px;color:#555;font-weight:bold;vertical-align:top}
.table1 td{width:680px;line-height:20px}
.table_text1{color:#1587dd;font-weight:bold}
.table2{margin:30px 0 15px 0}
.table2 th{width:87px}
.table2 td{width:282px}
.table2 input{width:172px;height:27px;padding:0 0 0 10px;border:1px solid #f6f6f6;background:url(../img/bg_input.gif) no-repeat}

/* 커리어 상담사 프로필 부분 */
.consult{}
.consult p{float:left;width:147px;}
.table4{float:right;width:633px}
.table4 th{padding:6px 0;color:#555;font-weight:bold;line-height:20px;vertical-align:top}
.table4 td{padding:6px 0;line-height:20px}
.table4 .photo{vertical-align:top}
.table4 .table_border{border-top:2px solid #666}
.table4 .table_border_1{color:#1587dd;font-weight:bold;border-top:2px solid #666}
.table4 .table_border1{border-top:1px dashed #c1c1c1}
.table4 .table_border1_1{font-weight:bold;border-top:1px dashed #c1c1c1}
.table4 .table_border2{border-top:1px dashed #c1c1c1;border-bottom:1px solid #b0b0b0}
.clear{clear:both;}

/* 버튼 */
.btn{clear:both;padding:50px 0 0 0;text-align:center}
.btn span{padding:0 10px 0 0;}
.btn_guide{position:absolute;left:0;top:0;width:100%;padding:0 0 0 783px;background:url(../img/bg_body_x.jpg) repeat-x 0 0}
.btn_print{position:absolute;top:218px;right:0}

/* 리스트 효과 */
.style_show{margin:10px 0 0 0;padding:15px 0 15px 20px;border:1px solid #c9d3bc;background:#fff}
.style_show li{padding:0 0 0 7px;background:url(../img/bg_list.gif) no-repeat 0 40%;color:#63a806;font-weight:bold;line-height:20px}
.style_show1{color:#555;font-weight:bold;line-height:25px}
.style_show1 li{padding:0 0 0 17px;background:url(../img/icon1.gif) no-repeat 0 6px;}
.style_show1 li img{vertical-align:middle}

/* 탭 */
.tab{height:37px;border-bottom:2px solid #3588c8}
.tab dt{float:left;width:135px;height:37px;text-align:center;background:url(../img/bg_tab_dt.gif) no-repeat 0 0;line-height:27px}
.tab dd{float:left;margin:0 0 0 2px;width:127px;height:37px;text-align:center;background:url(../img/bg_tab_dd.gif) no-repeat 0 0;line-height:27px}
.tab dt a{display:block;width:135px;height:29px;padding:7px 0 0 0;font-size:12px;font-weight:bold;color:#888;line-height:12px}
.tab dd a{display:block;width:127px;height:29px;padding:7px 0 0 0;font-size:12px;font-weight:bold;color:#888;line-height:12px}
.tab span{display:block;font-size:11px;font-weight:bold;color:#888}
.tab dt.on{background:url(../img/bg_tab_dt_on.gif) no-repeat 0 0}
.tab dd.on{background:url(../img/bg_tab_dd_on.gif) no-repeat 0 0}
.tab .on a,.tab .on span{color:#fff}

.tab2{height:27px;border-bottom:2px solid #3588c8}
.tab2 li{float:left;margin:0 2px 0 0}
.tab2 a{display:block;width:127px;height:27px;text-align:center;line-height:27px;font-weight:bold;color:#888;background:url(../img/bg_tab2_off.gif) no-repeat 0 0}
.tab2 a.on{color:#fff;background:url(../img/bg_tab2_on.gif) no-repeat 0 0}

/* 탭 체크박스 */
.checkbox_list{margin:0 0 20px 0;margin-right:-10px}
.checkbox_list dl{padding:0 0 21px 0}
.checkbox_list dt{padding:21px 20px 0 20px}
.checkbox_list strong{padding:0 0 9px 0;display:block;border-bottom:1px solid #b0b0b0;color:#1587dd;font-weight:bold}
.checkbox_list dd{padding:9px 0 8px 0;margin:0 20px;border-bottom:1px solid #ececec;position:relative;line-height:14px;letter-spacing:-1px}
.checkbox_list a{position:absolute;right:0;top:6px}
.checkbox_list input{float:left;margin:0 4px 0 0}
.checkbox_list span{display:inline-block;color:#666}
.magnifier{padding:0 10px 0 0}
.checkbox_list span.off{color:#ccc}
.checkbox_list4{width:177px;background:url(../img/bg_checkbox4.gif) repeat-y;float:left;margin-right:10px}
.checkbox_list4 dl{background:url(../img/bg_checkbox4_bottom.gif) no-repeat 0 100%}
.checkbox_list4 dt{background:url(../img/bg_checkbox4_top.gif) no-repeat 0 0}
.checkbox_list3{width:234px;background:url(../img/bg_checkbox3.gif) repeat-y;float:left;margin-right:15px}
.checkbox_list3 dl{background:url(../img/bg_checkbox3_bottom.gif) no-repeat 0 100%}
.checkbox_list3 dt{background:url(../img/bg_checkbox3_top.gif) no-repeat 0 0}
.checkbox_list2{width:365px;background:url(../img/bg_checkbox2.gif) repeat-y;float:left;margin-right:9px}
.checkbox_list2 dl{background:url(../img/bg_checkbox2_bottom.gif) no-repeat 0 100%}
.checkbox_list2 dt{background:url(../img/bg_checkbox2_top.gif) no-repeat 0 0}

/* 개발영역 */
.develop{margin:20px 0 0 0;background:url(../img/bg_develop_middle.gif) repeat-y 0 0}
.develop1{margin:10px 0 0 0;background:url(../img/bg_develop_middle1.gif) repeat-y 0 0}
.develop2{background:url(../img/bg_develop_middle.gif) repeat-y 0 0}
.develop_content{padding:16px 21px}
.develop_content1{padding:0 21px 16px 21px}
.bg_icon{padding:10px 0 10px 15px}
.bg_icon li{padding:0 0 0 7px;background:url(../img/icon_develop_list.gif) no-repeat 0 50%;line-height:18px}

.table3{margin:15px 0 10px 0;border-top:2px solid #666}
.table3 thead th{padding:8px 0;border:1px solid #e7e7e7;background:url(../img/table_shadow.gif) no-repeat;background-color:#f5f5f5;color:#333;text-align:center}
.table3 td{padding:4px 0;border:1px solid #e7e7e7;text-align:center}
.table3 td.rank{color:#555}

.basic_btn{display:inline-block;height:22px;line-height:22px;font-size:11px;color:#666;padding:0 0 0 14px;background:url(../img/bg_btn_left.gif) no-repeat 0 0}
.basic_btn:hover{color:#333}
.basic_btn span{display:inline-block;height:22px;padding:0 14px 0 0;background:url(../img/bg_btn_right.gif) no-repeat 100% 0;cursor:pointer}

/* 라운드테이블 */
.round_table{width:738px;background:url(../img/bg_round_table.gif) repeat-y 0 0;margin:0 0 10px 0}
.round_table_body{background:url(../img/bg_round_top.gif) no-repeat 0 0;padding:0 17px}
.round_table thead th,.round_table thead td{height:55px;font-weight:bold;text-align:center}
.round_table .left{text-align:left;padding-left:10px}
.round_table thead span{color:#1587dd}
.round_table tbody th,.round_table tbody td{padding:8px 3px;color:#666;text-align:center}
.round_table tbody span{display:inline-block;text-indent:-12px;line-height:16px;color:#666;margin:0 0 0 22px}
.round_table tbody td{background:url(../img/bg_round_bar.gif) repeat-y 0 0}
.round_table ul li{float:left;margin:0 20px 0 0}
.round_table ol li{margin:10px 0}

.round_table2{width:738px;background:url(../img/bg_round_table.gif) repeat-y 0 0;margin:0 0 10px 0}
.round_table2_body{background:url(../img/bg_round_top.gif) no-repeat 0 0;padding:0 17px}
.round_table2 thead th,.round_table2 thead td{height:55px;font-weight:bold;text-align:center}
.round_table2 .left{text-align:left;padding-left:10px}
.round_table2 thead span{color:#1587dd}
.round_table2 tbody th,.round_table2 tbody td{padding:8px 3px;border-bottom:1px solid #d1d1d1;color:#666;text-align:center}
.round_table2 tbody span{display:inline-block;text-indent:-12px;line-height:16px;color:#666;margin:0 0 0 22px}
.round_table2 tbody td{background:url(../img/bg_round_bar.gif) repeat-y 0 0}
.round_table2 ul li{float:left;margin:0 0 0 15px}
.round_table2 ol li{margin:10px 0}

/* 그래프 */
.graph{width:736px;padding:30px 0;border:1px solid #d8d8d8;background:#f7f7f7;margin:15px 0 0 0}
.graph p{margin:10px 0 0 114px}
.graph p span{color:#666;font-weight:bold;text-align:center;display:inline-block;width:69px}

.graph1{margin:0 87px 0 149px;padding:12px 0 0 0;border:1px solid #d2d2d2;border-top:0;border-right:0;background:url(../img/g_line.gif)}
.graph1 li{position:relative;margin:0 0 18px 0;vertical-align:top;white-space:nowrap}
.graph1 .g_term{position:absolute;top:0;left:-65px;width:40px;font-weight:bold;color:#767676;line-height:20px;text-align:right}
.graph1 .g_bar1{display:inline-block;position:relative;top:4px;height:7px;border:1px solid #ccc;border-left:0;border:1px solid #d1818e;background:url(../img/g_bar1.gif) repeat-x 0 0}
.graph1 .g_bar2{display:inline-block;position:relative;top:4px;height:7px;border:1px solid #ccc;border-left:0;border:1px solid #c8b468;background:url(../img/g_bar2.gif) repeat-x 0 0}
.graph1 .g_bar3{display:inline-block;position:relative;top:4px;height:7px;border:1px solid #ccc;border-left:0;border:1px solid #aac868;background:url(../img/g_bar3.gif) repeat-x 0 0}
.graph1 .g_bar4{display:inline-block;position:relative;top:4px;height:7px;border:1px solid #ccc;border-left:0;border:1px solid #68c8b7;background:url(../img/g_bar4.gif) repeat-x 0 0}
.graph1 .g_bar5{display:inline-block;position:relative;top:4px;height:7px;border:1px solid #ccc;border-left:0;border:1px solid #719ec1;background:url(../img/g_bar5.gif) repeat-x 0 0}
.graph1 .g_bar6{display:inline-block;position:relative;top:4px;height:7px;border:1px solid #ccc;border-left:0;border:1px solid #8568c8;background:url(../img/g_bar6.gif) repeat-x 0 0}
.graph1 .g_per{position:absolute;top:-3px;right:-50px;width:40px;color:#767676}

.graph2{margin:0 87px 0 149px;padding:12px 0 0 0;border:1px solid #d2d2d2;border-top:0;border-right:0;background:url(../img/g_line.gif)}
.graph2 li{position:relative;margin:0 0 18px 0;vertical-align:top;white-space:nowrap}
.graph2 .g_term{position:absolute;top:0;left:-65px;width:40px;font-weight:bold;color:#767676;line-height:20px;text-align:right}
.graph2 .g_bar1{display:inline-block;position:relative;top:-2px;margin:2px 0;height:7px;border:1px solid #ccc;border-left:0;border:1px solid #d1818e;background:url(../img/g_bar1.gif) repeat-x 0 0}
.graph2 .g_bar2{display:inline-block;position:relative;top:-2px;margin:2px 0;height:7px;border:1px solid #ccc;border-left:0;border:1px solid #c8b468;background:url(../img/g_bar2.gif) repeat-x 0 0}
.graph2 .g_bar3{display:inline-block;position:relative;top:-2px;margin:2px 0;height:7px;border:1px solid #ccc;border-left:0;border:1px solid #aac868;background:url(../img/g_bar3.gif) repeat-x 0 0}
.graph2 .g_bar4{display:inline-block;position:relative;top:-2px;margin:2px 0;height:7px;border:1px solid #ccc;border-left:0;border:1px solid #68c8b7;background:url(../img/g_bar4.gif) repeat-x 0 0}
.graph2 .g_bar5{display:inline-block;position:relative;top:-2px;margin:2px 0;height:7px;border:1px solid #ccc;border-left:0;border:1px solid #719ec1;background:url(../img/g_bar5.gif) repeat-x 0 0}
.graph2 .g_bar6{display:inline-block;position:relative;top:-2px;margin:2px 0;height:7px;border:1px solid #ccc;border-left:0;border:1px solid #8568c8;background:url(../img/g_bar6.gif) repeat-x 0 0}
.graph2 .g_per{position:absolute;top:-3px;right:-50px;width:40px;color:#767676}

/* 팝업 */
.popup_body{width:790px;height:870px;background:url(../img/popup_bg_center.gif) repeat-x 0 0;overflow:hidden}
#wrap1{position:relative;width:770px;height:923px;padding:0 0 0 20px;background:url(../img/popup_bg_left.gif) no-repeat 0 0;z-index:200}
.popup_bg_right{position:absolute;width:100%;height:870px;background:url(../img/popup_bg_right.gif) no-repeat 770px 0;z-index:100}
#header1{position:relative;width:100%;height:133px}
/* 팝업_header */
.popup_logo{padding:7px 0 6px 0}
.popup_close{position:absolute;top:9px;right:8px}
.popup_heading{padding:40px 0 0 0;width:750px;height:48px;border-bottom:2px solid #0874c4}
/* 팝업_content */
.popup_text1{margin:16px 0 20px 0;color:#666;font-size:14px;font-weight:bold;line-height:20px}
.popup_img{margin:0 0 20px 0}
.popup_step_detail{padding:0 0 0 12px}
.popup_step_detail dl{float:left;width:178px;margin:0 5px 0 0;background:url(../img/popup_bg_detail_middle.gif) repeat-y 0 0}
.popup_step_detail .popup_theme{width:178px;height:30px;padding:13px 0 0 0;background:url(../img/popup_bg_detail_top.gif) no-repeat 0 0;color:#444;font-size:14px;font-weight:bold;text-align:center;line-height:20px}
.popup_step_detail dl.last{margin-right:0}
.popup_step_detail .popup_define_dt{padding:8px 0 8px 0;margin:0 11px;border-bottom:1px solid #f1f1f1;color:#1587dd;font-weight:bold}
.popup_step_detail .popup_define_dd{padding:8px 0 13px 0;margin:0 11px;border-bottom:1px solid #d0d0d0;font-size:11px;letter-spacing:-1px;line-height:15px}
.popup_step_detail .popup_define_last{padding:8px 0 13px 0;margin:0 11px;font-size:11px;letter-spacing:-1px;line-height:15px}
.popup_step_detail .popup_detail_bottom{padding:5px 0 0 0;background:url(../img/popup_bg_detail_bottom.gif) no-repeat 0 bottom}
.popup_step_detail .popup_dd{padding:8px 0 13px 0;margin:0 11px;font-size:12px;letter-spacing:-1px;line-height:20px}

/*
.popup_step_detail dd{padding:10px 0 15px 0;border-bottom:1px solid #636363;font-size:11px;letter-spacing:-1px;line-height:13px}
.popup_step_detail .dd_height{border-bottom:1px solid #b1b1b1;font-size:12px;line-height:20px;letter-spacing:-0.3px;}
*/

/*
.step_detail{padding:30px 0 0 9px}
.step_detail dl{float:left;width:187px;margin:0 5px 0 0;background:url(../img/bg_detail_middle.gif) repeat-y 0 0}
.step_detail .theme{width:187px;height:30px;padding:13px 0 0 0;background:url(../img/bg_detail_top.gif) no-repeat 0 0;color:#444;font-size:14px;font-weight:bold;text-align:center;line-height:20px}
.step_detail .define_dt{padding:11px 0 11px 0;margin:0 11px;border-bottom:1px solid #f1f1f1;color:#1587dd;font-weight:bold}
.step_detail .define_dd{padding:10px 0 15px 0;margin:0 11px;border-bottom:1px solid #d0d0d0;font-size:11px;letter-spacing:-1px;line-height:15px}
.step_detail .define_dd_last{padding:10px 0 15px 0;margin:0 11px;font-size:11px;letter-spacing:-1px;line-height:15px}
.step_detail .bg_detail_bottom{padding:5px 0 0 0;background:url(../img/bg_detail_bottom.gif) no-repeat 0 bottom}
.step_detail .dd_height{padding:10px 0 15px 0;margin:0 11px;font-size:12px;letter-spacing:-1px;line-height:20px}

*/