@charset "utf-8";

/*reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0
}
table {
	border-collapse:collapse;
	border-spacing:0
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal
}
ol,ul {
	list-style:none
}
caption,th {
	text-align:left
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal
}
q:before,q:after {
	content:''
}
abbr,acronym { border:0
}

/* base */
body {color:#858585; font-size:12px; font-family:"돋움",Dotum,Helvetica,AppleGothic,Sans-serif}

#accessibility,
.skip,
legend,
caption {visibility:hidden;width:0;height:0;font-size:0;overflow:hidden;text-indent:-5000px}

a {color:#686868;text-decoration:none}
a:hover {color:#999;text-decoration:none}

li.last {padding-right:0px}

hr {display:none}
