@charset "utf-8";
html,body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,th,td,button,img{margin:0;padding:0;border:0;font-weight:normal;}
html {font-size:10px;}
body{-webkit-text-size-adjust:none;-ms-text-size-adjust:none;font-family:'ProximaNova', 'Noto Sans KR', Dotum, "돋움", sans-serif;font-size:1.1rem;color:#141414;word-wrap:break-word;}
input,textarea,select,button{font:inherit;vertical-align:middle;padding:0;}
input[type="button"],input[type="text"],input[type="image"],input[type="submit"],input[type="password"],input[type="tel"],input[type="number"],select,textarea{-webkit-appearance:none;-moz-appearance:none;border-radius:0;border:none;}
input[type="checkbox"]{-webkit-appearance:checkbox;-moz-appearance:checkbox;}
input[type="radio"]{-webkit-appearance:radio;-moz-appearance:radio;}
textarea{resize:none;}
table{width:100%;border-collapse:collapse;border-spacing:0;}
ul,ol,li {list-style-type:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;}
img,fieldset,iframe{border:none;}
address,cite,code,dfn,em,var,th,strong{font-style:normal;font-weight:400;}
a, a:active, a:hover{text-decoration:none;color:#141414;}
article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}
caption, legend {height:0;width:0;line-height:0;font-size:0;overflow:hidden;visibility:hidden;display:none;-webkit-padding-start:0;-webkit-padding-end:0;}
button{background:transparent;cursor:pointer;}
iframe{border:0;}
input::-ms-clear{display:none;}
label img{pointer-events:none;}
textarea::placeholder, input::placeholder{color:#888;}
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {color:#888;}
textarea::-moz-placeholder, input::-moz-placeholder {color:#888;}
textarea:-ms-input-placeholder, input:-ms-input-placeholder {color:#888;}
textarea:-moz-placeholder, input:-moz-placeholder {color:#888;}

/*img{max-width:100%;}*/
.clfix:after {content: "."; display: block; height: 0px; clear: both; visibility: hidden;}
.blind {font-size:0;height:1px !important;position:absolute !important;top:-9999px !important;width: 1px !important;}
