@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; font-size: 100%; background: transparent;}
body, input, textarea, select, table, button, form	{font-size:12px; line-height:120%; margin:0;padding:0;}
html	{-webkit-text-size-adjust:none}
body	{height:100%; margin:0; padding:0; font-family:"AppleSDGothicNeo-Regular","Droid Sans","Roboto Condensed";}
input,select,textarea	{font-family:;}

table	{border-collapse:collapse; font-family:;}
ul, ol, li	{list-style:none;}
a,img, fieldset	{border:0 none;}
legend	{display:none;}
a,a:visited, a:active	{text-decoration:none;}
a:hover	{text-decoration:none;}
input[type="text"], 
input[type="password"]	{background:#fff; border:1px solid #ddd; font-size:12px; font-family:; color:#666;}
button {background:none; border:0 none; cursor:pointer;}

.clear{*zoom:1;}
.clear:after {content:"";clear:both;display:block;}