@charset "utf-8";

/* NanumGothic */
@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 400;
	src: url('../font/NanumGothic-Regular.eot');
	src: url('../font/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../font/NanumGothic-Regular.woff2') format('woff2'),
		 url('../font/NanumGothic-Regular.woff') format('woff'),
		 url('../font/NanumGothic-Regular.ttf') format('truetype'),
		 url('../font/NanumGothic-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 700;
	src: url('../font/NanumGothic-Bold.eot');
	src: url('../font/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../font/NanumGothic-Bold.woff2') format('woff2'),
		 url('../font/NanumGothic-Bold.woff') format('woff'),
		 url('../font/NanumGothic-Bold.ttf') format('truetype'),
		 url('../font/NanumGothic-Bold.otf') format('opentype');
}