@charset "utf-8";

/* reset */
html,body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,th,td,button {margin:0;padding:0;border:0;}
html,body {height:100%;}
body {-webkit-text-size-adjust:none;font-family:'NanumGothic', '나눔고딕', 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', Dotum, "돋움", sans-serif;font-size:14px;font-weight:400;color:#666;}
input,textarea,select,button {font:inherit;padding:0;margin:0;color:#666;vertical-align:middle;}
input,textarea {font-family:'NanumGothic', sans-serif\9;}
input[type="button"],input[type="text"],input[type="image"],input[type="submit"],input[type="password"],textarea {border-radius:0;}
textarea {padding:2px 11px;border:1px solid #ccc;line-height:20px;resize:none;box-sizing:border-box;-webkit-box-sizing: border-box;}
table {width:100%;border-collapse:collapse;border-spacing:0;}
ul,ol,li {list-style-type:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;}
img,fieldset,iframe {border:none;}
address,cite,code,dfn,em,var,th {font-style:normal;font-weight:400;}
a, a:active, a:hover {text-decoration:none;color:#666;font-weight:400;}
article,aside,dialog,figure,footer,header,hgroup,nav,section {display:block;}
caption, legend {height:0;width:0;line-height:0;font-size:0;overflow:hidden;visibility:hidden;display:none;-webkit-padding-start:0;-webkit-padding-end:0;}
button {background:transparent;color:#666;cursor:pointer;}
iframe {border:0;}
input::-ms-clear {display:none;}
label img {pointer-events:none;}
textarea::placeholder, input::placeholder {color:#ccc;}
textarea:-ms-input-placeholder, input:-ms-input-placeholder {color:#ccc;}
textarea::-ms-input-placeholder, input::-ms-input-placeholder {color:#ccc;}
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {color:#ccc;}
textarea:-moz-placeholder, input:-moz-placeholder {color:#ccc;}
textarea::-moz-placeholder, input::-moz-placeholder {color:#999;}

/* skipnavi */
#skipnavi {position:absolute; top:0; left:0; z-index:500; width:100%; height:0;}
#skipnavi a {display:block;position:absolute;top:-1000px;left:0;width:100%;height:1px;overflow:hidden;z-index:99999999;}
#skipnavi a:focus, #skipnavi a:hover, #skipnavi a:active {top:0px;left:0;background-color:#e9e9e9;padding:7px 0 5px;height:auto;color:#000;font-weight:bold;text-align:center;text-decoration:none;}

/* common */
.clearfix:after {content:'';display:block;clear:both;}
.blind {width:0;height:0;font-size:0;text-indent:-9999px;overflow:hidden;}
.essential {display:inline-block;position:relative;}
.essential:before {content:'*';position:absolute;top:50%;right:-12px;transform:translateY(-50%);-webkit-transform:translateY(-50%);color:#fc2a2b;font-size:14px;}
.inblock {display:inline-block;}
.vtalign {vertical-align:middle !important;}
.vtalign_top {vertical-align:top !important;}
.bullet {display:inline-block;position:relative;width:14px;height:14px;vertical-align:middle;}
.bullet:after {content:'';display:block;position:absolute;top:4px;left:5px;width:3px;height:3px;background:#666;}
.color_blue {color:#145383 !important;}

.ml1 {margin-left:1px !important;}
.ml2 {margin-left:2px !important;}
.ml4 {margin-left:4px !important;}
.ml8 {margin-left:8px !important;}
.ml12 {margin-left:12px !important;}
.ml18 {margin-left:18px !important;}
.ml26 {margin-left:26px !important;}
.ml18 {margin-left:18px !important;}
.ml67 {margin-left:67px !important;}
.ml91 {margin-left:91px !important;}
.mr2 {margin-right:2px !important;}
.mr4 {margin-right:4px !important;}
.mr12 {margin-right:12px !important;}
.mr18 {margin-right:18px !important;}
.mt0 {margin-top:0 !important;}
.mt3 {margin-top:3px !important;}
.mt5 {margin-top:5px !important;}
.mt14 {margin-top:14px !important;}
.mt15 {margin-top:15px !important;}
.mt60 {margin-top:60px !important;}
.mb16 {margin-bottom:16px !important;}
.mb20 {margin-bottom:20px !important;}

.pl0 {padding-left:0 !important;}
.pl16 {padding-left:16px !important;}
.pr8 {padding-right:8px !important;}
.pt0 {padding-top:0 !important;}
.pt13 {padding-top:13px !important;}
.pb30 {padding-bottom:30px !important;}

.fl_left {float:left !important;}
.fl_right {float:right !important;}
.left {text-align:left !important;}
.right {text-align:right !important;}
.center {text-align:center !important;}

/* sample effect */
.sample:before {content:'';display:block;position:absolute;top:0;bottom:0;left:0;right:0;border-radius:4px;background:#666;opacity:.05;z-index:1;}
.sample:after {content:'SAMPLE';display:block !important;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);padding:15px;border:1px solid #666;background:#000;opacity:.1;color:#eaeaea;font-size:50px;font-weight:700;line-height:1;letter-spacing:5px;z-index:2;}

/* layer popup common */
.layer_bg {display:none;position:fixed;top:0;bottom:0;left:0;right:0;width:100%;height:100%;background:#000;filter:alpha(opacity=50);opacity:0.5;z-index:100;}