@charset "utf-8";

/******************************************************************
				LG 다이어트U 관리자 CSS를 IMPORT 합니다
*******************************************************************/

@import "reset.css";						/* 리셋 */
@import "layout.css";						/* 레이아웃 */
@import "contents.css";					/* 컨텐츠 */