@charset "euc-kr";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  font-size:12px;
  font-family:"µ¸¿ò",Dotum,Helvetica,AppleGothic,Sans-serif;
  color:#333
}

table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
table, td, th {
  vertical-align: middle;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}
blockquote {
  quotes: "" "";
}
a img {
  border: none;
}

a{
  text-decoration:none;
}

ol, ul, dl {list-style:none}

a, input { 
    word-wrap:expression( this.style.wordWrap="normal",this.hideFocus=true); 
}


input[type="checkbox"]{width:14px;height:14px;margin:0;padding:0}